[2020-02-26 11:54] bjorn commented on #185
Still not uploaded now that we have the credentials? Should be a quick one to push since the snap is already done.

[2020-02-26 12:52] bjorn commented on #253
I would only do that if there are any modifications that we couldn't upstream.

[2020-02-26 19:29] #253 closed

[2020-02-26 20:00] bjorn commented on #195
So, this was actually implemented in 3978e47d245ff84bbb708fe78722a09617cac99b, but the issue didn't close because that commit referenced #193 instead of #195.

But, later on autostart was disabled for macOS in #232, though without stating the problem it was fixing. @theshadowx, can you shed some light on this?

[2020-02-26 21:37] theshadowx commented on #195
@bjorn The QAutostart is not supported in mac, as mentioned in readme: https://github.com/b00f/qautostart

The reason is that the compilation fails as QProcess doesn't work in mac.

[2020-02-26 22:00] bjorn commented on #195
@theshadowx Ah, I was confused because the code did seem to handle macOS. But, it can't be that in general `QProcess` is not working on Mac. I'm using it in Tiled as well to run custom commands set up by the user and it does also work on macOS.

[2020-02-26 23:45] theshadowx commented on #195
I have forked QAutostart and added in qautostart.cpp
[code]

It did compile https://github.com/theshadowx/notes/runs/471152271?check_suite_focus=true. I don't Mac machine so I don't know if the functionality is working.

[2020-02-27 08:54] bjorn commented on #195
I don't really understand, `#include <QProcess>` [is already there](https://github.com/b00f/qautostart/blob/3bcab269a6a8ba4a4824d73bbf8d9b87dd62cd18/src/qautostart.cpp#L29
). I'll see if I can find some time to test the functionality.

[2020-02-27 10:22] nuttyartist commented on #185
You're right! I just updated the page with new info, but I don't have a Linux machine ready (seems like i need one) Can I give you my user credentials over email and you'll push it?

Also, some really awesome metrics that I only now noticed. Since we don't track analytics of active users it's cool to see that we have more than 15K weekly active users (only with snap on ubuntu). And the number is g

[2020-02-27 10:26] nuttyartist commented on #253
@bjorn We already such modifications, like UI and text changes. I think it makes sense to do as @theshadowx proposed unless you think the repo is flexible enough for our needs.

[2020-02-27 10:30] theshadowx commented on #185
The snap folder in packages should be moved to the root folder so that snapcraft can take it into considerarion

[2020-02-27 10:31] nuttyartist commented on #185
Can I send you over my snapstore account credentials?

[2020-02-27 10:33] theshadowx commented on #185
Also please wait till the snapcraft is updated. The version 1.0.0 uses sqlite database which won't work with the current snapcraft script

[2020-02-27 10:33] theshadowx commented on #185
If you want

[2020-02-27 10:33] nuttyartist commented on #185
Oh ok, so we shall wait for 1.5.0?

[2020-02-27 10:34] theshadowx commented on #185
Ya

[2020-02-27 10:39] theshadowx commented on #195
Indeed, maybe ```include <QProcess>``` should be at the end. As when I just commented ifdef guard and compile with github ci, it failed :

[2020-02-27 10:45] nuttyartist commented on #195
I can test it if needed, @theshadowx. Let me know the artifact link.

[2020-02-27 10:46] nuttyartist commented on #248
I'm gonna close this issue and open one related to snap.

[2020-02-27 10:46] #248 closed

[2020-02-27 10:57] nuttyartist opened #257 "Problem generating snap package"
As mentioned in #248, there still some problems generating snap packages using Travis.

[2020-02-27 11:02] theshadowx commented on #195
Use this branch from my repo https://github.com/theshadowx/notes/tree/qprocess_mac

[2020-02-27 12:17] bjorn commented on #253
@nuttyartist I'll try to run a diff to see what changes those were.

[2020-02-27 12:20] bjorn commented on #185
Ah, you mean the snap that is up at https://github.com/nuttyartist/notes/releases/tag/v1.0.0 is actually broken?

[2020-02-27 12:28] bjorn commented on #185
Those are some awesome statistics! In comparison, the Tiled snap has little over 1K weekly active users.

But, do I understand correctly that 0.9 used an entirely different way to store the notes? Was it tested whether upgrading will keep user's notes intact? It's especially important with 15K users. :-)

I believe it should be possible to add collaborators somewhere, likely at https://dashboard.s

[2020-02-27 12:44] theshadowx commented on #185
@bjorn before, data was stored using QSettings to store current notes in notes.ini and removed notes in trash.ini .
Using sqlite makes things more manageable.
There are functions in Mainwindow thta checks if these two files exist they will  migrate  data contained in those files to notes.db. these files are not removed but a suffix is added to them "old" so that the use can still access to notes,

[2020-02-27 15:57] nuttyartist commented on #185
Indeed. We made sure to take care of it automatically as @theshadowx said :)

I posted some more metrics on Gitter: https://gitter.im/nuttyartist/notes

[2020-02-27 16:01] nuttyartist commented on #195
Didn't find any artifacts: https://github.com/theshadowx/notes/actions/runs/45817715

[2020-02-27 16:14] theshadowx commented on #195
You should compile it in your machine

[2020-02-27 16:23] nuttyartist commented on #195
Aw oops, haha sorry. Will do and report later.

[2020-02-27 16:36] bjorn commented on #195
@theshadowx Ah, the bug was already fixed in qautostart (see https://github.com/b00f/qautostart/commit/1c99161e0746fdee1c78fcf5f9c69ecf87e152ec), but we need to update our submodule since it still points at an older commit!

[2020-02-29 08:30] nuttyartist commented on #195
@theshadowx I just tested your branch and when I click on "Start automatically" from the 3 dots menu, it shows this pop up (probably because of new securities methods macOS is using:
![Screen Shot 2020-02-29 at 10 21 43 AM](https://user-images.githubusercontent.com/16375940/75604137-67447280-5ade-11ea-9303-f66f6030f75a.png)
But then I check in Login Items (where applications that start at login ar

[2020-03-11 16:47] #195 closed

[2020-03-11 19:09] nuttyartist commented on #257
@theshadowx @bjorn We still don't have snap artifacts for v1.5.0?

[2020-03-12 09:41] theshadowx commented on #257
I have been able to make snap works correctly, I will upadre the .pro file also as snap folder will be moved to the root folder. Here is the branch specific to the snap modifications. It's not up to date, I'll update it this evening:
https://github.com/theshadowx/notes/tree/snapcraft

[2020-03-12 14:45] nuttyartist commented on #257
Awesome, then we'll continue to release v1.5.0.

[2020-03-17 21:35] theshadowx commented on #257
I think this should be closed

[2020-03-17 21:53] theshadowx opened #260 "Updating deb packaging for version 1.5"
deb files to be updated to generate deb package

[2020-03-18 07:24] nuttyartist commented on #257
Okay, is it fixed? I can't see a link for the snap in https://travis-ci.org/github/nuttyartist/notes/jobs/662820085, but I guess it's because the release isn't tagged yet?

[2020-03-18 07:25] nuttyartist commented on #260
And we should change all the version as here also https://github.com/nuttyartist/notes/commit/bb64fe95d820b5d07379d5b2fc238c4030b57118, right?

[2020-03-18 08:06] theshadowx commented on #260
yes

[2020-03-18 08:12] theshadowx commented on #260
just next time for 2.0.0, we should create a branch 2.0.0 and but all the commits done after 1.5.0.
so that it would be easier to mention the modifications done in the changelog an also in the release.

Then each new version should have a branch. specific to it containing all the commits done in that version

[2020-03-18 08:16] theshadowx commented on #257
The package is generated at the bottom : https://transfer.sh/e8xr4/notes_1.0.0-git5ca3205_amd64.snap

[2020-03-18 08:42] bjorn commented on #257
Unfortunately the link is already giving 404 error. However, indeed the original issue described in https://github.com/nuttyartist/notes/issues/248#issuecomment-588522356 that prompted the opening of this issue was fixed by #259, so we can close this.

[2020-03-18 08:42] #257 closed

[2020-03-18 08:56] bjorn commented on #260
I would personally suggest to do further development on `master` instead of `dev`. GitHub defaults to development on `master`, so it's a little less confusing in my opinion. Then, we'd create a branch on each new features release, just for potential patch releases. At least this works well for Tiled.

I've opened up #261 based on this change, so we can see what the autobuilds say.

Did you open th

[2020-03-18 09:04] theshadowx commented on #260
Well yes, but there is a bug, at least in Ubuntu 18.04 the "always stay on top" doesn't work.
It's not a big issue, do you think we should fix it in this version ?

[2020-03-18 10:38] bjorn commented on #260
I'd say if it was already broken in 1.0 then there's no need to fix it before 1.5. But, we should open an issue about that such that to be aware of it and maybe fix it later.

It also has nothing to do with Debian packaging. What needs to be done for Debian packaging besides the version bump?

[2020-03-18 11:20] theshadowx commented on #260
There is conflict in the license used, here it shows mpl2, but in deb it's gpl2 , I think this was because deb doesn't recognize mpl2, I m not sure

[2020-03-18 12:52] theshadowx opened #262 ""Always on top" not working in Ubuntu"
This feature has been added post 1.0.0
In Ubuntu 18.04, "Always on top" is not working,  even when the option is checked, the gui still gets hidden by others.

[2020-03-18 21:53] bjorn commented on #262
Documentation for `Qt::WindowStaysOnTopHint` states "Note that on some window managers on X11 you also have to pass Qt::X11BypassWindowManagerHint for this flag to work correctly."

I gave it a quick try on Ubuntu 19.10, where this feature also isn't working, and it indeed works when setting `Qt::X11BypassWindowManagerHint` as well. However, there are unwanted side-effects:

* The standard shortcu

[2020-03-19 06:28] theshadowx commented on #262
This feature helps the user to have the app ready to take notes while doing other things in other apps.

[2020-03-19 14:53] bjorn commented on #262
Yeah, I think that'd be better as well. The macOS look is rather out of place on other systems anyway.

[2020-03-19 17:26] nuttyartist commented on #260
so that it would be easier to mention the modifications done in the changelog an also in the release.

@theshadowx Sure.

@bjorn I like the way we set up, it makes a distinction between stable, experimental and future features. But your idea will make it so updates in the future will get to users much faster because PR's will be "patches" to the master. So I'm turned. Maybe we should do it after r

[2020-03-19 17:45] nuttyartist commented on #262
Active window looks like inactive (no colored buttons in top left).
Modifier key for quickly moving / resizing a window no longer works.

That is a lot of problems just for that feature, which obviously not worth it.
Let's set this bug aside from v1.5.0.

I'm out of touch with the Linux world for quite some time, but I started Notes especially because there wasn't any elegant and simple app to tak

[2020-03-20 08:32] theshadowx commented on #262
@nuttyartist it's better to leave the decoration to DE, as long as Qt doesn't have api to interface with DE.
The mechanism of the app resizing (I know it was me that wrote it), right now, is awful.

[2020-03-20 08:47] theshadowx commented on #260
my mistake, I checked and it's MPL-2

[2020-03-24 10:02] nuttyartist commented on #262
@theshadowx I wouldn't say it's awful, but it's certainly doesn't feel native and gives a worse experience. @theshadowx I will take this into consideration.

[2020-03-24 12:22] Waqar144 commented on #262
It would solve other issues as well, that may not have been encountered yet.

[2020-03-28 13:24] nuttyartist opened #264 "Option for native window frame on Linux machines"
For Linux users, Make the current custom decoration default but have an option for native window frame using the:` "View->Native window frame"`.

If someone has a better name for the label, please suggest.

[2020-04-04 16:43] nuttyartist opened #265 "User report inability to migrate his old notes to new version."
A user reported that his old notes didn't migrate to the new version of Notes here: https://www.get-notes.com/single-post#comment-4858696357. I tried to walk him through solving it but didn't succeed.

@theshadowx do you have suggestions as to how solve this problem?

[2020-04-06 05:23] theshadowx commented on #265
I need his notes to check why there is an issue, or sample of his notes.

[2020-04-06 11:14] nuttyartist commented on #265
Okay, I let him know. Waiting for his response.

His description of the problem:

[2020-04-06 11:20] theshadowx commented on #265
Can you ask to open Notes from terminal and send the message shown there.
Also was snap used or deb package ?

[2020-04-06 16:08] tan10vir commented on #265
Attached is a sample of "Notes.ini"
[Notes.ini.txt](https://github.com/nuttyartist/notes/files/4439538/Notes.ini.txt)

As ".ini" files cannot be uploaded here, so just added a ".txt" extension to the file. Please drop the extension when you use it.

[2020-04-06 16:13] tan10vir commented on #265
it starts from terminal with no error.

I am using deb package.

[2020-04-08 21:55] theshadowx commented on #265
@tan10vir  it is working correctly

[2020-04-09 04:27] tan10vir commented on #265
Nice!
I will try again, why is it not working in my machine.

[2020-04-09 04:46] tan10vir commented on #265
@theshadowx I am stil facing the issue. Could you please tell me how did you get it to work correctly?

[2020-04-09 05:02] theshadowx commented on #265
With the sample notes.ini you sent me ?
Have you used the deb from the release section ?

[2020-04-09 19:02] tan10vir commented on #265
Yes, I am using the deb version. I have freshly installed the notes app (Downloaded the 17.10 Deb package).  I have done the same thing: copied notes.ini to the local folder and started the app.

Opening it from the terminal, I do get the following message
[code]
After closing the app, I had to force stop the app in terminal too.

[2020-04-09 23:00] theshadowx commented on #265
This is what I was looking for.
You are using Qt version not suitable for 1.0.0, I think you are using version > 5.8
We have fixed this issue, but not yet released.

The solution is to use snap and move the notes.ini to the folder mentioned in readme.

[2020-04-10 05:46] tan10vir commented on #265
Okay. Thanks a lot.
I will wait for next version.  :)
Thanks.

[2020-04-10 08:58] nuttyartist commented on #265
@theshadowx Thanks a lot for figuring this out!

@tan10vir Like @theshadowx said you can move notes.ini to/home/snap/notes/x1/.config/Awesomeness (create the folder if it does not exist), and install the snap version from https://www.get-notes.com/linux-download. Or wait for the next version.

I'll close this for now.

[2020-04-10 08:58] #265 closed

[2020-04-27 19:56] somenxavier opened #266 "How to remove home data"
Where data is stored in notes? I use linux and I want to remove data of my home directory. But I don't know where it is. Typically, it should be `.config/notes/` but there is not such directory or file

[2020-04-28 01:15] theshadowx commented on #266
Have installed using snap or deb package ?

[2020-04-28 11:20] somenxavier commented on #266
Solved: it is in `.conf.d/Awesome`

[2020-04-28 11:20] #266 closed

[2020-05-25 18:24] yusufbarisk commented on #222
Where did you find the folder? What is the name of the folder you found it?

[2020-05-26 10:39] nuttyartist commented on #222
Hey @yusufbarisk!
You can find it at:

**Windows** : C:\Users\user\AppData\Roaming\Awesomeness
**Linux**       : /home/user/.config/Awesomeness/ or /home/snap/notes/x1/.config/Awesomeness (using snap)
**Mac**         : /home/.config/Awesomeness/

[2020-06-05 18:31] nuttyartist opened #267 "Bug related to reported Wifi spikes - Make sure not to ship the bearer plugin on Windows"
Someone emailed us today about a bug related to Wifi Spikes. This might be an upstream problem. Here's the email:

[code]

Tagging you guys here @theshadowx, @bjorn if you have an idea.

[2020-06-05 19:05] theshadowx commented on #267
I think this one comes with QNetworkAccessManager, it is to acces to wifi

[2020-06-05 20:12] bjorn commented on #267
`QNetworkAccessManager` does not need the bearer plugin to access the WiFi. The [bearer management in Qt](https://doc.qt.io/qt-5/bearer-management.html) is about querying and controlling whether the internet is on and such things and was mostly needed for mobile devices. Apparently it's also deprecated now and scheduled for removal in Qt 6.0.

We should just make sure not to ship this plugin.

[2020-06-06 15:13] nuttyartist commented on #267
@bjorn Great, we will do so. I'm keeping this issue open until we make sure to keep it out in the process of generating the packages.

[2020-06-08 10:39] nuttyartist commented on #260
@theshadowx Since deb packaging is the last thing remaining for v1.5, do you think you can give a go at updating the dependencies?

[2020-06-08 10:44] theshadowx commented on #260
@nuttyartist  sure, I will updatedeb packaging

[2020-06-21 08:28] nuttyartist opened #268 "Check safety of an OpenSUSE version of Notes"
Someone emailed us with an OpenSUSE version of Notes. Before uploading it to the website, is there a way to check its safety? Maybe someone can shed some light on this?

There are the links:
https://software.opensuse.org//download.html?project=X11%3ALXQt%3AOther&package=notes
https://software.opensuse.org//download.html?project=home%3AAndnoVember%3ALXQt&package=notes
https://software.opensuse.org/

[2020-06-21 08:30] nuttyartist commented on #260
@theshadowx Did you progress on this?

[2020-06-22 06:22] Waqar144 commented on #268
There are a couple of ways, ie, reverse engineer or analyze network while notes is running. With that said, this happens all the time in FOSS world, there are unofficial packages for the unsupported distros / archs, so nothing bad I think.

[2020-06-22 07:06] bjorn commented on #268
I think the best way is to have some CI system, in this case probably OBS, make the build. That way we can see how the build was made (assuming build script and logs are available) so we don't need to trust somebody.

Also, if there is a repository on OBS with Notes we may just want to link to it rather than copy the package to our list of downloads, since using the repository somebody can get aut

[2020-06-22 07:35] Waqar144 commented on #268
Appimage yes, snap I don't think so. See [OBS QON](https://build.opensuse.org/package/show/home:pbek:QOwnNotes/desktop)

[2020-06-22 07:49] Ablu commented on #268
You can check the code for this build at: https://build.opensuse.org/package/show/home:AndnoVember:LXQT/notes. OBS is hosted by OpenSuse and then builds the package according to those recipes. So anyone who can push updates to that repo (apparently a user `AndnoVember`) can publish versions. You can however, take the spec file from that repo and do you own builds in a trusted environment (or use O

[2020-06-22 07:50] Ablu commented on #268
The advantage of OBS over a Github CI is, of course, that OBS automatically publishes a registry which allows updates using the package manager.

[2020-06-22 10:39] nuttyartist commented on #10
Translation work done on #270.

[2020-06-22 14:00] bjorn commented on #10
Well, most strings were already correctly marked as translation, in #270 I just fixed a few that were missed. The actual translation system still needs to be added.

[2020-06-23 08:50] nuttyartist commented on #268
There are so many ways to support our Linux users. I don't mind supporting all these different platforms as long as we have a simple and streamlined process for generating the packages.

You guys seem inclined to use OBS. So, is it a service where we can transfer our build scripts and it will generate packages for multiple distros?

BTW, I think AppImage is great, and a good alternative when in do

[2020-06-23 08:52] nuttyartist commented on #10
Oh, okay, missed that. 👍

[2020-06-23 08:56] Ablu commented on #268
When you are in doubt I would simply provide a flatpak package and leave the rest out. All distros support flatpak images and in contrary to snap images they are nicely integrated into non-ubuntu systems as well.

On Tue, Jun 23, 2020, at 10:50, Ruby Mamistvalove wrote:

[2020-06-24 14:04] nuttyartist commented on #268
"All distros support flatpak images"

@Ablu  Is that true for out-of-the-box experience?

[2020-06-24 14:44] Ablu commented on #268
@nuttyartist out-of-the-box most distros *only* support packages built on the infrastructure of the vendor. For example, Fedora only will list software built on fedora servers in the Software Center. A notable exception (I think) here is Ubuntu with the snap store. Here vendors can directly upload packaged software. However, even if you publish to the snap store, all other distros do not ship with

[2020-06-26 03:33] nuttyartist commented on #268
@bjorn @theshadowx @Waqar144 What do you think about dropping all packages options (maybe keeping snap and AppImage?) and telling people to install flatpak by referring them to https://flatpak.org/setup/ and then to install Notes' flatpack package.

[2020-06-26 06:57] bjorn commented on #268
It would be great to have a Notes Flatpak, but I don't think it's a good idea to abandon the snap and AppImage versions for now.

[2020-06-27 05:33] nuttyartist commented on #268
@bjorn Do you think we should abandon .deb, and Arch while having only flatpak, snap and appimage?

[2020-06-28 13:19] bjorn commented on #268
@nuttyartist I don't have a strong opinion about this, but I'm not the one maintaining those packages.

[2020-06-29 07:55] nuttyartist commented on #268
Okay, we shall discuss such a change when we move on to version 2.

[2020-07-06 07:49] vaibhavahuja opened #272 "Unable to zoom/change font size."
Currently I feel that the font size is too low. I am unable to find an option to change the font size, and also am unable to zoom.
How can I do that?

[2020-07-06 10:56] nuttyartist commented on #272
Hey @vaibhavahuja!

Are you talking about the font of the editor (where you write your notes) or where your list of notes is displayed?

Currently, we don't support increasing the font size in the editor, but it's something we are aiming to implement in future versions.

[2020-07-06 11:09] vaibhavahuja commented on #272
I was talking about "where I write the notes"

Okay

[2020-07-06 11:26] #272 closed

[2020-07-10 19:56] bjorn commented on #272
@nuttyartist Why close the issue, especially given that you said we want to do this in the future?

[2020-07-10 21:27] Waqar144 commented on #272
Also this is a very straightforward and simple thing to implement. Shouldn't take more than a couple of hours. I vote to mark this as good-first

[2020-07-12 14:08] nuttyartist commented on #272
@bjorn Just because I thought it should be part of an issue when we work on the "A button".

From the [wiki](https://github.com/nuttyartist/notes/wiki/Vision):

.

@Waqar144 Indeed, very simple to implement, but since it should be done in a proper UI as I wrote above, where there's a button that open-up a little pop-up with different options, it might not be as straightforward for first-time contr

[2020-07-12 17:36] nuttyartist commented on #267
Another user reported this issue, @bjorn do you think telling him to delete the plugin folder from the executable folder will solve this issue? Is it safe?

[2020-07-12 18:12] bjorn commented on #272
@nuttyartist Ah, so it's already covered elsewhere, thanks!

[2020-07-12 18:30] bjorn commented on #267
@nuttyartist There are plugins that are required for Notes to work properly, like the image loading plugins and platform plugins, so you should tell this user to only delete the `bearer` folder.

[2020-07-14 08:56] nuttyartist commented on #267
@bjorn Thanks!

[2020-07-15 18:41] bjorn commented on #177
@nuttyartist Given that you appear to have already made these adjustments 3 years ago, what is preventing these changes from going in now rather than waiting for 2.0.0?

[2020-07-15 18:48] bjorn commented on #183
Just noting that this is related to the following stylesheet, according to comments at #181.

https://github.com/nuttyartist/notes/blob/858f617d5cb769fd0564688a7d01a0cb5a066769/src/mainwindow.cpp#L929-L932

[2020-07-16 11:51] nuttyartist commented on #183
Yes, these few lines are problematic. Can you please create a PR where you comment out these lines so we let the pop up be drawn natively?

https://github.com/nuttyartist/notes/blob/858f617d5cb769fd0564688a7d01a0cb5a066769/src/mainwindow.cpp#L928-L936

[2020-07-16 12:04] nuttyartist commented on #177
Oopsi, I don't know why it's in 2.0.0. I removed it from there. This issue seems to be solved. I remember I reverted back the decision to change the font size (to be thinner) when clicking on a note. But I would like to revert it back again (keep it the same size). Also, Qt::WA_MacShowFocusRect doesn't seem to be effective anymore.

[2020-07-18 07:53] #177 closed

[2020-07-18 07:54] nuttyartist commented on #183
Solved #273 by reverting to drawing native pop-up.

[2020-07-18 07:54] #183 closed

[2020-07-18 13:34] nuttyartist opened #274 "Move exit,maximize,minimize buttons on Windows to the right."
Currently, the buttons are on the left, we should move them to the right as it's usually on that size on Windows.

![7c1dce_63e67132d7e54cfb9d847ee7e897a9c9_mv2](https://user-images.githubusercontent.com/16375940/87853650-879d8e00-c914-11ea-8b85-1d4c355b4a47.png)

[2020-07-18 19:43] bjorn commented on #274
Maybe add a mockup showing how this should look, because simply moving them over would leave a strange empty space above the search field. And if we'd just move up the search field, then we have again the misalignment issue (if this is really an issue).

[2020-07-20 13:35] nuttyartist commented on #274
Good idea, I will 👍

[2020-08-15 11:39] nuttyartist opened #275 "User report error when exporting and importing notes. Video included."
For some reason, a user reported an error keep to arise while he tries to export and import his notes.
Here's a video: https://www.loom.com/share/c83fa2c480474db0a0820b3b0576d163

What can be the problem?

[2020-08-15 16:19] Waqar144 commented on #275
Seems like the file didn't have any notes:

https://github.com/nuttyartist/notes/blob/b17fe903311d3b6cbe618f4f4ac8afa22827865c/src/mainwindow.cpp#L1625-L1635

However, I am wondering why is there a `try / catch`

[2020-08-16 01:14] nuttyartist commented on #275
Yes, that's what I assumed. That error is probably in the exporting. Because in the videos he shows he creates some notes.

But for me, exporting and importing works fine. @Waqar144 Have you tried exporting yourself and the file was empty?

[2020-08-20 08:28] #262 closed

[2020-08-20 08:28] #264 closed

[2020-08-24 11:53] nuttyartist commented on #260
Hey, @theshadowx, can you help with this?

[2020-08-25 16:30] nuttyartist opened #277 "Change margins when using native window frame"
Since switching to native window frame will reduce the margins at the top of the application, we shall reduce the margins around the text editor (left and right).

Comparison (via @bjorn):

![87253615-ef6b5900-c47c-11ea-85bd-bfc8c073cc59](https://user-images.githubusercontent.com/16375940/91201445-1c13c100-e709-11ea-81c3-3ed758c81479.png)
![87436075-d8e40f80-c5ec-11ea-9f39-7f55bbd2fdf7](https://us

[2020-08-27 17:26] nuttyartist opened #278 "Clicking on native close button quits the app on Windows rather than hiding it"
Clicking on the red closing button on Windows quits the app, where it should just hide it (should keep on running using the system tray). It seems like the problem is upstream due to a newer version of Qt since I didn't find a change in the source code to lead to this and version 1.0.0 on the website works as expected. But we might solve this using a different code?

[2020-08-27 17:40] nuttyartist commented on #278
Nevermind, I mistakenly used the native window closed button. Whoops.

[2020-08-27 19:18] bjorn commented on #278
Hmm, but I guess it shouldn't matter which button you click? If you use the native window frame, the close button should probably still just hide the window.

[2020-08-27 19:19] nuttyartist commented on #278
The close button of the native window provided by Windows? Really?

[2020-08-27 19:29] bjorn commented on #278
Well, it's up to you I guess. I'm not sure if Notes has a good reason to stay active in the background. I guess the user can also click the try icon to hide the window, so maybe it's better that the close button actually closes (but then I think the same should happen by the custom close button).

[2020-08-27 19:36] nuttyartist commented on #278
I don't think the same should happen, it is much faster to press Super+N to summon Notes right when an idea hit you.

Do you mean we can set the native close button to not quit the app but just hide it?

[2020-08-28 08:41] bjorn commented on #278
Yes. When the user clicks that button, the window gets a close event. By default this closes the window and since it is the last window, quits the app. We could override this and hide the window instead.

[2020-08-28 09:34] nuttyartist commented on #278
Oh, ok then! I'm reopening this issue.

[2020-09-02 13:41] nuttyartist opened #279 "Can't see AppImage generated by Travis"
@theshadowx, @bjorn, @Waqar144  Do you know why Travis doesn't generate an artifact link for AppImage (actually, for all other packages also, but it seems like Github takes care of .deb and .snap).

https://travis-ci.org/github/nuttyartist/notes/jobs/723438922

[2020-09-03 12:56] nuttyartist commented on #279
Also, @bjorn, @Waqar144 please let me know if it's okay to put your name and picture on the website contributors section! (:

[2020-09-03 18:56] bjorn commented on #279
@nuttyartist Regarding the AppImage, it seems there's a somewhat unfortunate mismatch between
[code]
and
[code]
(the file that was supposed to deploy to GitHub was renamed to something that doesn't match this pattern)

Depending on what we want, we should either adjust the pattern or change the `mv` into a `cp`.

Of course I'm fine with this, thanks!

[2020-09-04 13:23] Waqar144 commented on #279
Sure thing! :)

[2020-09-04 13:43] nuttyartist commented on #279
Cool just updated the website (:

@bjorn, So because `notes_${NOTES_VERSION}_amd64.AppImage` is different than `Notes-*.AppImage`?

If so, feel free to change it to what you deem right. Preferably what is consistent with our other packaging flow.

[2020-09-04 15:26] bjorn commented on #279
@nuttyartist I committed 4840afcf0ea87f9b9eecc849ef3e4ec2e36894d7, but to get it to push to GitHub releases I guess you'd have to re-tag. Not sure what the consequences of that will be. Alternatively, we could get it to upload somewhere else (transfer.sh doesn't appear to work after all) and you can manually put it on GitHub releases this time.

[2020-09-04 15:30] nuttyartist commented on #279
Sounds good if possible. Otherwise, I'll re-tag as v1.5.1.

[2020-09-04 17:25] bjorn commented on #279
Since nothing changed I'd just re-tag as v1.5.0.

[2020-09-04 20:57] nuttyartist commented on #279
I already linked the generated packages links to the website, will re-tagging it delete them?

[2020-09-05 19:45] bjorn commented on #279
Hmm, well I tried to force-push the tag to the latest commit in order to re-target it, which seems to have worked without losing the published release notes and files. However, it does not seem to have triggered a new build on Travis CI...

It seems there are also some build failures on Travis CI related to the PR #263. :-(

[2020-09-05 19:52] nuttyartist commented on #279
So what can we do? Should we create a new tag? Or do we need to solve the build failures first, and then try a re-tag?

[2020-09-08 15:33] nuttyartist commented on #234
We need to further investigate these situations (based on @bjorn [comment](https://github.com/nuttyartist/notes/pull/280#issuecomment-688913866)):

* Migrating a note from the old format to the new database format that contains "%1" (either active note or trashed note)
* Deleting a note after putting "%1" in it.

All other query parameters are numbers, which do not have this problem.

[2020-09-20 07:35] nuttyartist commented on #87
@theshadowx, @Waqar144, @bjorn Does someone want to take the implementation for this to his hands?

[2020-09-20 07:49] theshadowx commented on #87
I nominate myself ;)

[2020-09-20 16:46] nuttyartist commented on #87
@theshadowx Awesome!! (:

Be sure to look at the [project](https://github.com/nuttyartist/notes/projects/3) to see issues that might be affected by this.

[2020-09-29 05:54] nuttyartist opened #282 "User report error while importing notes"
Screen capture:
[screen-capture.mp4.zip](https://github.com/nuttyartist/notes/files/5296691/screen-capture.mp4.zip)

How can we assist him?

[2020-09-29 09:25] Waqar144 commented on #282
Not 100%, but we probably can't. The notes backup file doesn't look valid (only 9kb) meaning the notes weren't backed up correctly in the first place.

[2020-09-29 09:27] Waqar144 commented on #275
I did, but don't remember the outcome. I will try again to see what happens.

[2020-09-29 12:24] nuttyartist commented on #282
@Waqar144 Why are you assuming it's not valid - only because it's 9kb?

I'll try to see if he can share the backup if it doesn't contain sensitive/personal information.

[2020-09-29 12:27] Waqar144 commented on #282
That and the error. The export could have gone wrong, which may have resulted in an incomplete / invalid backup file.

[2020-09-29 12:29] nuttyartist commented on #282
Okay, I'll see what information I can get from him to better examine this. For me exporting and importing works well.

[2020-10-01 09:58] nuttyartist commented on #282
The user was kind enough o share his notes.

[notes.nbk.zip](https://github.com/nuttyartist/notes/files/5311037/notes.nbk.zip)

I got the same error while trying to import. @Waqar144 Do you think can detect where the error is coming from?

[2020-10-01 10:42] Waqar144 commented on #282
Its can be an incorrect export or some other reason like the file getting tampered etc. Anyways, I recovered the text that was in the file.

[2020-10-01 19:06] nuttyartist commented on #282
@Waqar144 How did you do it? I managed to do so but didn't get a clean result.

@theshadowx maybe you can shed some light on a problematic structure of the file or something?

[2020-10-01 21:01] Waqar144 commented on #282
Just pull out all the printable characters and you get the data back.

[2020-10-03 09:42] nuttyartist commented on #282
@Waqar144 Ok.

It is strange because two people reported this problem already (https://github.com/nuttyartist/notes/issues/275).

[2020-10-03 13:08] nuttyartist commented on #282
The user reports exporting and importing works now (after upgrading to version 1.5.0). Closing this till we get new reports.

[2020-10-03 13:08] #282 closed

[2020-10-03 13:08] nuttyartist commented on #275
Different user (#282 ) reports exporting and importing works now (after upgrading to version 1.5.0). Closing this till we get new reports.

[2020-10-03 13:08] #275 closed

[2020-10-11 06:56] nuttyartist commented on #87
Hey, @theshadowx! Any progress on this?

[2020-10-12 11:10] theshadowx commented on #87
@nuttyartist I was busy these last days, but I'm free now.
Updates will reported during this week.

[2020-10-12 13:16] nuttyartist commented on #87
@theshadowx Awesome (;

[2020-10-25 15:57] nuttyartist commented on #18
Solved in #283, yet not merged yet...

[2020-10-28 10:38] nuttyartist opened #284 "Support Dark Mode"
We should support Dark Mode theme.

[2020-11-06 22:26] alphashuro commented on #87
@theshadowx are you still working on this or should I take a stab at it?

[2020-11-06 22:29] theshadowx commented on #87
Hi @alphashuro
I m still working on it.

[2020-11-10 11:32] theshadowx commented on #284
Sure

[2020-11-16 18:02] nuttyartist commented on #87
Hey @theshadowx, is there any way we can see the progress on your repo?

[2020-11-17 08:57] theshadowx commented on #87
I'll try to add a branch this weekend

[2020-11-17 20:59] nuttyartist commented on #87
Okay 👍

[2020-11-27 06:43] nuttyartist commented on #87
Hey, @theshadowx how is it going?

[2020-12-06 17:07] nuttyartist commented on #87
Hey, @theshadowx it's been a month and a half since you nominated yourself and still haven't shared any progress yet. Soon, if nothing changes, I'll give the green light for other developers to solve this issue.

[2020-12-06 17:23] theshadowx commented on #87
@nuttyartist I'm still working on it,  I know it's been a while, don't worry it will be done :)

[2020-12-06 17:25] nuttyartist commented on #87
Okay, then :)

[2021-01-06 09:53] nuttyartist commented on #87
@theshadowx How's it going?

[2021-01-25 13:55] allan-mlpe opened #285 "Show sidebar"
Hello everyone,

I'm facing some troubles to get the sidebar (containing the list of notes) again after hiding it somehow :eyes:

Is there any shortcut to display it again? I've tried the shortcuts listed [here](https://www.get-notes.com/), but with no success...

I'm using Ubuntu 20.04.1. Notes version: `0.9.0~gitb6e3b34`.

Thanks in advance!

[2021-01-26 12:03] nuttyartist commented on #285
I need to update the website! Sorry for that. You can use `Ctrl + J` on Windows or `Command + J` on Mac.
Also, from the 3 dots menu on the upper right corner of the app, you can choose View->Show notes list.

[2021-01-26 12:23] allan-mlpe commented on #285
Thank you so much for your reply!

On Linux Ubuntu `Ctrl + J` didn't work, however I could to get it again placing the mouse cursor on the left edge until a `<-->` symbol appears. So when I click, hold and move to the right, the sidebar is displayed again!

Also, I think my version doesn't have the three dots menu, it looks like this:
![Captura de tela de 2021-01-26 09-19-33](https://user-images.g

[2021-01-26 20:40] nuttyartist commented on #285
Ah! You are using an old version of our app. Indeed, pushing it to the right should work! You can get the latest version on our [website](https://www.get-notes.com/) if you'd like.

[2021-01-26 20:40] #285 closed

[2021-01-26 21:05] nuttyartist commented on #87
@alphashuro Still want to take a stab at it?

[2021-01-29 03:53] MhiauGe opened #286 "highlight bug"
hello, i think i found a bug,

look this:https://vkceyugu.cdn.bspapp.com/VKCEYUGU-b1ebbd3c-ca49-405b-957b-effe60782276/f4de4cac-ff39-42c2-96b3-3e4cb64f048c.mp4

[2021-01-31 12:19] alphashuro commented on #87
I no longer have enough time unfortunately, but if I become free again I'll let you know!

[2021-02-03 00:59] theshadowx commented on #87
@nuttyartist I'm still in :)
I know I took a lot of time, but it's in the plan to be done this year.

[2021-02-06 16:55] nuttyartist commented on #87
@alphashuro Okay.

That's good to hear. If there's something I can do to help you move faster, please let me know.

[2021-02-06 17:03] nuttyartist commented on #286
@MhiauGe Can you please describe the bug? I don't seem to catch it.

[2021-02-08 12:21] MhiauGe commented on #286
抱歉，这么晚才回复，因为我的英文很差，所以我使用了谷歌翻译回复：
如上面视频所示，当我搜索"75"时，笔记中的75会被高亮显示。但是此时，我在笔记的"75"后面紧跟着输入任何文本，都会跟着被高亮，比如我输入"562",那么"75562"会被高亮，但我搜索的是75，这应该是不对的；如视频所示，如果不紧跟着输入，就没有此问题。
我不确定这是设计如此还是一个bug
***
Sorry to reply so late, because my English is very poor, so I use Google translation:

As shown in the video above, when I search for "75", 75 in my notes will be highlighted. But at this time, if I input any text i

[2021-02-16 07:00] nuttyartist commented on #286
@MhiauGe I'm sorry, I still don't see where the bug is. In your video, you search for "75" so Notes shows you all the notes that include "75" (or "755" later). That's the intended way. @bjorn Did you maybe understand something I miss?

[2021-02-16 08:14] bjorn commented on #286
@nuttyartist It's a bit easy to miss due to the mouse cursor highlight, but notice that when the user types additional text in the note, it also gets the highlight even when it's not "75". I think what's missing is to update the highlights on the note entry when it its text is changed.

[2021-02-16 08:32] nuttyartist commented on #286
Oh okay, I see it now. Thanks!

@MhiauGe Thanks for reporting the bug!

[2021-03-15 15:58] OliverLew commented on #39
I am not sure if it is the right place, currently the layout has issue when set `Xft.dpi` to larger values (than 96, 144 in screenshot) in Xresources on Linux:
![Screenshot_2021-03-15_23-54-06](https://user-images.githubusercontent.com/12032219/111182563-fd641180-85e9-11eb-9653-a19154825c1b.png)
If I set qt scaling globally with `QT_SCALE_FACTOR=2` it works well, while `Xft.dpi` only changes font

[2021-03-16 10:17] bjorn commented on #39
@OliverLew Yeah, this issue was also reported at #164 when larger fonts are used on Windows. The widget or delegate used there should probably calculate its size depending on the font size, whereas it currently appears to have a fixed height.

[2021-03-20 14:16] nuttyartist commented on #39
@bjorn Exactly! That (plus upgrading the icons to suit bigger resolutions) would be the main objective of this issue.

[2021-03-20 14:31] tanabi opened #287 "Ability to disable markdown"
Hey there;

I'm not sure how feasible this is, but if there were a settings check box, command line argument, or environment var (or really any method) of turning off Markdown I would be happy.

My reason: I use notes extensively, and about 75% of the time it is just literal notes.  Like stuff I'd put on a post it note, nothing with any formatting, and this works fine.

About 25% of the time I'm a

[2021-03-21 09:14] nuttyartist commented on #287
Hi, @tanabi! Sure, I think it is a good idea! We can put it under View -> Markdown. It should be easy.

[2021-03-22 17:45] tanabi commented on #287
Cool!  Thank you :)

[2021-05-02 14:07] akud82 commented on #87
It's actual?

[2021-05-02 22:25] nuttyartist commented on #87
@akud82 Hi, do you mean if the bounty is real? If so, yes it is. Do you want to work on this issue?

[2021-05-03 05:19] akud82 commented on #87
@nuttyartist Hi, I think this issue is not so difficult. I've ready to start. The only thing to think about is to try to do without migration, I'm afraid that alter sqlite database may cause a broken db.
FYI: https://sqlite.org/forum/forumpost/21c7b443aa

[2021-05-03 18:06] nuttyartist commented on #87
@akud82 You mean migrating the current db to the new version with folders? Yes. You can take a look at how @theshadowx did the migration from the previous version to our current version here:

https://github.com/nuttyartist/notes/blob/dev/src/mainwindow.cpp#L125

[2021-05-07 20:16] akud82 commented on #87
Will be ready soon, in a couple of days.
![image](https://user-images.githubusercontent.com/10120128/117503842-9bdd7500-af92-11eb-80cb-b56c2f3c411a.png)

[2021-05-08 10:56] nuttyartist commented on #87
@akud82 Awesome! I'm curious to test it! Do you have a repo link?

[2021-05-09 17:35] akud82 commented on #87
https://github.com/akud82/notes/tree/folders-tags-wip

Not implemented yet
- [ ] Copy & Paste
- [ ] Remove all notes from folder
- [ ] Tags

How should tags work? Not description. How to add/remove tag to note.

[2021-05-09 17:37] akud82 commented on #87
I took the liberty of changing icons. New icons more clearer.

[2021-05-10 07:08] nuttyartist commented on #87
Great, I'm looking forward to testing it later today.

While folders are hierarchical meaning they are nested inside each other, tags provide a **universal** organization between notes that works between different folders. Say you have a folder of Homework->Math->note and another folder Poems->note You can assign to both of these notes the tag "Needs-editing". This way, when you want to know what

[2021-05-10 10:57] akud82 commented on #87
I got it. Today folders is not support nesting, only one level, bit it’s possible to implement. I thought that folders should have one level, like in macos notes. About tags. I’m want to understand user experience to assign tags and create new tags, how should it work on selection generally clear.

[2021-05-10 12:42] akud82 commented on #87
I am convinced that the folders hierarchy is overrated, and it is no needed for nesting. Plain structures are better for use. If you need hierarchy as you said, you can use underscore (4ex: Folder1, Folder1_Subforlder1, Folder1_Subfolder2).  User experience will be changed dramatically. But I do not insist. But If you insist that you want to support the hierarchy, simply let me know. I fix it, but

[2021-05-10 22:34] nuttyartist commented on #87
* I had annoying problems with my Mac machine today (I uninstalled Xcode back then and now I can't install it back), so tomorrow I'll put some Linux machine on a stick and test it there. I did successfully complied and ran it on a Windows machine (and it looked good) but I didn't have time to play around and test how everything works. So wait for tomorrow for an in-depth review.

macOS Notes does

[2021-05-11 10:45] akud82 commented on #87
fyi
![image](https://user-images.githubusercontent.com/10120128/117803239-75a42780-b267-11eb-9d2b-b54137b24f56.png)

[2021-05-12 14:23] nuttyartist commented on #87
Okay, I just finished reviewing your build. It's really awesome!

Things to note/change/add:

- "All items" should be changed to "All Notes"
- Show the number of notes in a folder near the folder label in the middle pane using a small label like in the [mockup](https://user-images.githubusercontent.com/16375940/71641592-35ae5700-2ca7-11ea-83aa-c15d13fff5b9.png).
- We should have a default "Notes"

[2021-05-12 15:09] akud82 commented on #87
Thank you for your review. I'll be back in during one week with the progress report. I thought that amount of work will be smaller and now I a little limited in time. You will have to wait a bit cause quite a lot to do.

[2021-05-12 16:08] nuttyartist commented on #87
@akud82 Great! I'm looking forward to this!

And ok about the migration 👍

[2021-05-17 12:15] nuttyartist commented on #87
Bounty updated :)

https://www.bountysource.com/issues/37086741-folders-and-tags-550

[2021-05-19 09:09] akud82 commented on #87
Thanks! Will be planed to continued and finished at next week after weekend.

[2021-05-20 11:52] nuttyartist commented on #87
Awesome (:

[2021-05-30 08:12] nuttyartist commented on #87
@akud82 How's it going?

[2021-06-10 13:24] vlasky opened #289 "Allow changing database path, and synchronization across devices"
Hello,

Thank you for creating notes! I am a daily user and I think it's great!

One thing missing is the ability to have my collection of notes accessible from my various PCs (home and office).

I currently use [Syncthing](https://syncthing.net/) under Windows to create a shared folder between several of them.

I would love for notes to have a setting that specifies a custom location for the note

[2021-06-11 14:24] nuttyartist commented on #289
Hi, @vlasky!

While I was reluctant in the past to do such a thing, it makes sense to allow people this option.
I'm adding this to our to-do list.

I think this should be the hardest part. Checking for conflicts and how to handle them.

[2021-06-24 20:08] theshadowx commented on #289
@vlasky here is how you can do it with dropbox :
https://github.com/nuttyartist/notes/issues/109#issuecomment-276342071

[2021-06-28 12:30] nuttyartist commented on #289
Yes, just be aware that Notes will not check and handle conflicts (say when the same notes changed offline on one device later changed on the other device, when later synced online there gonna be conflicts).

[2021-06-30 18:16] goldencut opened #290 "Feature e"

[2021-07-01 18:58] nuttyartist commented on #290
Fair enough! Adding to our to-do list!

Thanks!

[2021-08-11 09:46] nuttyartist opened #292 "Help needed implementing Themes (ie, Dark mode) on notesList model/view"
Having introduced themes in #295, I'm having a problem updating the color of the notes list (noteView) when the user chooses a different theme (ie, Dark). I guess I'm not sure what's the proper way of updating the delegate/model.

I didn't touch C++ for a while so I'm a bit rusty.

Can someone help with this?
@akud82, @bjorn , @theshadowx, @Waqar144

[2021-08-11 09:54] akud82 commented on #292
It's important to emit the dataChanged() signal.
Delegate doesn't know that you change color and you need to emit event to force repaint.

[2021-08-11 10:49] nuttyartist commented on #292
I tried this (in mainwindow.cpp):

```emit m_noteModel->dataChanged(m_proxyModel->index(0,0), m_proxyModel->index(m_proxyModel->rowCount()-1, 0));```

But it doesn't work. I gotta say I have not much clue about the Model/View methodology.

[2021-09-05 13:56] ole-clausen opened #293 "Notes don't get saved if they start with some html tags like <div>, <pre>, <p>, <span>"
So recently I tried to save a few lines of html in Notes, only to later find out the note was empty - except for the headline: "<div" in the list of notes.
I am not sure if the problem is with html in general or not, as I found various tags where the error occurs - while the tag <button> it can still save perfectly well

[2021-09-07 08:44] bjorn commented on #293
Hmm, that sounds related to #234, but if you are on 1.5.0 then this problem should be fixed.

I couldn't directly reproduce this issue on latest `dev`, but while attempting to do this, I did notice that stuff like `<b>foo</b>` can turn into bold text when re-selecting the note. This is likely because Qt detects HTML formatting and applies it to the text, but that shouldn't happen. To avoid this we

[2021-09-08 17:49] nuttyartist commented on #293
Nice catch @bjorn! I noticed this as well when pasting html. Your suggestion solves this issue. I'll create a new issue for this. I can add the fix to the [`editor-settings`](https://github.com/nuttyartist/notes/tree/editor-settings) branch.

@ole-clausen Are you using the latest version (v1.5.0)? You can check by clicking on "Check for updates" in the dots menu.
If you do, can you provide some sa

[2021-09-08 17:54] nuttyartist opened #294 "On using HTML tags, HTML formatting is being applied instead of plain text"
As @bjorn reported in #293, when using HTML tags, the textEdit applies its formatting to the text, when it should rather stay plain text.  As he writes:

@bjorn suggestion of using `setPlainText` instead of `setText` on the QTextEdit solves this issue.

[2021-09-12 10:55] ole-clausen commented on #293
Hello @nuttyartist - yes, I'm using v1.5.0 installed from the windows edition on the website, the attached piece of text reproduces the issue at both my computers. Its just a few lines from an angular components html template.
- when testing a bit on my secondary pc i also noticed the html formatting being applied in some cases(your app can show svg's at the moment, i had the angular logo shown :s

[2021-09-13 14:04] nuttyartist commented on #18
Solved in #295 by creating `CustomDocument` class and setting `setViewportMargins`.

[2021-09-13 14:04] #18 closed

[2021-09-13 14:07] nuttyartist commented on #128
#295 Solved this on Mac and Windows by using native windowing. #295 On Linux reverted the custom shadow drawing to let the window manager draw the frameless window. On the distributions I checked: Ubuntu, Elementary OS, ZorinOS - the window was rendered well with a nice shadow. Some distros might not do this well, this is why we still have the option to use native window. So, closing this.

[2021-09-13 14:07] #128 closed

[2021-09-13 14:08] nuttyartist commented on #171
Didn't notice this problem after #295, so closing this.

[2021-09-13 14:08] #171 closed

[2021-09-13 14:09] nuttyartist commented on #172
This is not an issue anymore. I think it's good that the user has access to the change log. We can reopen this if we think otherwise. Closing.

[2021-09-13 14:09] #172 closed

[2021-09-13 14:10] nuttyartist commented on #187
#295 Solves this.

[2021-09-13 14:10] #187 closed

[2021-09-13 14:13] nuttyartist commented on #201
I think we should stick with only Markdown for now. I'm convinced of its promise for our note-taking app. It would be nice to have a bar open up when selecting text so users not proficient in Markdown can have an easy start.

## But

I believe we need to create our own editor with our own rendering someday, so we can add images, change the look of URLs, have custom to-do lists, etc.

[2021-09-13 14:15] nuttyartist commented on #216
#295 solves this. The `Super` is `Control` on MacOS, so `Control + N` works. Closing.

[2021-09-13 14:15] #216 closed

[2021-09-13 14:16] nuttyartist commented on #277
Not needed anymore. Closing.

[2021-09-13 14:16] #277 closed

[2021-09-13 14:16] nuttyartist commented on #284
#295 Solves this. Closing.

[2021-09-13 14:16] #284 closed

[2021-09-14 07:23] fifa87 commented on #87
How are you? I am Avinash. I have read your issuses on Upwork. I am very interesting your project. I have submitted a proposal on upwork, Can i work for you? Best Regards.

[2021-09-14 07:45] fifa87 commented on #87
If you want test me, i can take and implement one small part of your project.

[2021-09-14 11:32] nuttyartist opened #296 "New traffic light icons needed that look better on Dark Mode on Linux"
Introducing Dark Mode in #295, the current traffic lights seem to have white background shown that doesn't go well with the theme.

[2021-09-14 11:39] nuttyartist opened #297 "Custom Frameless Window doesn't show well on versions of Mac"
Currently on my Mac (10.15.7) the`CFramelessWindow` I integrated from https://github.com/Bringer-of-Light/Qt-Nice-Frameless-Window shows perfectly, but on other versions I tested (10.3 and 11) either the GUI is not shown at all, or it just doesn't look good, respectively.

[2021-09-14 12:58] nuttyartist commented on #293
@ole-clausen I just checked and @bjorn solution seems to fix this. I'll make sure to push this for v2.0.0.

[2021-09-14 13:34] fifa87 commented on #87
How are you. Thank you for your upwork's message. I am waiting for your selection. I hope to join into your project.

[2021-09-14 14:23] bjorn commented on #277
Just wondering, is it done or did you decide the existing behavior was fine?

[2021-09-16 21:37] nuttyartist commented on #277
After #295, margins are set intelligently, based on [the width of textEdit (if the width is less than 800)](https://github.com/nuttyartist/notes/blob/dev/src/mainwindow.cpp#L3423-L3434), otherwise we pad the text (set margins) [just to put it in the middle of textEdit](https://github.com/nuttyartist/notes/blob/dev/src/mainwindow.cpp#L808-L829).

[2021-09-20 06:54] nuttyartist commented on #287
Done in #291

[2021-09-20 06:54] #287 closed

[2021-09-30 02:12] sanjeetpal007 opened #298 "Please develop text encoding file for ubutu text editor. so, that exported file can be open with simple text editor ."
Multiple notes content can be shown with multiple tabs in text editor.

[2021-10-05 02:39] hmsjy2017 commented on #68
I think the better solution is to use Travis-CI or Azure Pipelines to build, because they have Linux/ARM64 runners.

[2021-12-23 12:23] nuttyartist commented on #87
Someone is already hired for this job.

[2022-04-02 18:04] someodd opened #299 "Debian missing qt/sqlite driver, notes dont save or load"
First off, I love this software. Absolutely perfect for spur-of-the-moment notes. Great job!

I've noticed this problem on/off where I'll do a fresh install of Debian, install the `deb` and it won't save any notes/won't load the `notes.db` I transferred/migrated from an older system. I had to do another transfer just yesterday and I decided to launch Notes from the terminal and noticed it complain

[2022-04-03 09:29] nuttyartist commented on #299
Hi! Thanks for your kind words. I'm glad you solved your issue. What OS version you were using?

Thanks for reporting the issue.

[2022-04-04 12:15] theshadowx commented on #299
might be missing in the dependencies list :
https://github.com/nuttyartist/notes/blob/dev/packaging/linux/debian/control#L13
`Depends: libqt5widgets5 (>= 5.2), libqt5gui5 (>= 5.2), libqt5network5 (>= 5.2), libqt5sql5 (>= 5.2), libqt5core5a (>= 5.2), sqlite3, ${misc:Depends}, ${shlibs:Depends}`

[2022-04-05 05:38] someodd commented on #299
@nuttyartist I am using Debian unstable (sid/bookworm).

Thank you @theshadowx for pointing that out. I went ahead and added the dependency to the place you mentioned (I created a PR: #300). `libqt5sql5-sqlite` isn't actually a dependency of [libqt5sql5](https://packages.debian.org/bullseye/libqt5sql5), just recommended by it.

[2022-04-05 08:40] nuttyartist commented on #299
@theshadowx Thanks for helping out.

[2022-04-05 08:40] #299 closed

[2022-06-14 23:48] tanabi opened #301 "Database Encryption"
Hi!

I was using Notes (arguably foolishly) to store passwords and other sensitive information.  On an encrypted hard drive with one user, I'm not sure it REALLY matters, but I started porting things to KeePassXC.  At least, things that are secure and not just notes.

I've come to realize the only real difference between KeePassXC and notes is that password box when you first start the program.  I

[2022-07-22 21:42] abebeos commented on #87
What is the status here? I noticed PR #302 which seems near-complete.

Would like to use this tool (without folders/nodes it makes no sense to me)

[2022-07-25 09:35] nuttyartist commented on #87
Hopefully, we'll merge the PR very soon.

[2022-07-31 23:55] MadironPhoenix opened #303 "Lost all my notes."
Listen, I don't know if there's anything to do about this - I kept all my notes in this thing, and I changed my windows boot drive from my hard-drive to my SSD. I had no idea it'd make most of my data weird, and now when I boot this app up I have none of my old notes. Is there any way to recover these? I never made an effort to back them up or anything, I didn't know how. I'm sorry if this shouldn

[2022-08-04 11:53] nuttyartist commented on #303
Hello, notes on Windows are stored in C:\Users\user\AppData\Roaming\Awesomeness

Maybe you can see if you find something there?

[2022-08-07 22:57] unspacyar opened #304 "Error trying to build on Haiku"
Hi.  I really like this app :-)  I managed to build the 1.5 release without any issue under Haiku.  However, when trying to build from the master branch, I got the following error:

<details>

[code]

</details>

Thank you!

[2022-08-11 06:24] nuttyartist commented on #304
Hi! Master branch and 1.5.0 are the same. Do you mean you try to build from the dev branch?

[2022-08-13 03:55] unspacyar commented on #304
Hello!  Yes, I mean the Dev branch.  Sorry!

[2022-08-13 23:02] xtthew opened #305 "Confirmation on deletion"
I just accidently deleted one of the notes I was using for work. I didn't realize pressing Ctrl+D would delete the open note, and while I was trying to duplicate an object in Inkscape using Ctrl+D I discovered that I didn't switch apps and deleted the note I was working with.

Although I remember roughly 80% of what was in the note, I can see this being a major issue in other scenarios. Either add

[2022-08-14 01:42] tanabi commented on #305
Your notes aren't really deleted I don't think, they move to another table.

On linux, `sqlite3 ~/.config/Awesomeness/notes.db` and you can `select * from deleted_notes` to see your deleted notes.  `.schema` will show you the DB tables and what you can query.

[2022-08-14 01:54] xtthew commented on #305
Awesome, that helps. I was able to use an online SQLite browser to get my deleted note back.

I still think it would be good to have the option to restore a note from the interface - or even avoid accidental deletion of a note.

[2022-08-14 01:55] #305 closed

[2022-08-21 07:07] nuttyartist commented on #305
Great. The next version (already in dev) is going to have a Trash folder.

[2022-08-21 07:09] nuttyartist commented on #304
The dev branch is not ready yet. Just a few more small things and then hopefully everything will work smoothly.

[2022-08-21 07:19] nuttyartist commented on #301
Thanks! Added to the roadmap (:

[2022-08-28 16:41] unspacyar commented on #304
Thank you for your answer!

[2022-09-06 07:44] nuttyartist commented on #87
Done in #302.

[2022-09-06 07:44] #87 closed

[2022-09-06 07:44] nuttyartist commented on #88
Done in #302.

[2022-09-06 07:44] #88 closed

[2022-09-06 07:44] nuttyartist commented on #292
Done in #302.

[2022-09-06 07:44] #292 closed

[2022-09-06 07:44] nuttyartist commented on #289
Done in #302.

[2022-09-06 07:44] #289 closed

[2022-09-06 07:44] nuttyartist commented on #212
Done in #302.

[2022-09-06 07:44] #212 closed

[2022-09-06 07:44] nuttyartist commented on #297
Done in #302.

[2022-09-06 07:44] #297 closed

[2022-09-06 07:47] nuttyartist commented on #164
So resolution doesn't seem to be the cause but the scaling.

[2022-09-06 19:22] nuttyartist commented on #19
![this-is-a-line-new](https://user-images.githubusercontent.com/16375940/188721143-df0a3584-011f-4ef0-a185-82066f9eb671.gi
![folder and tags loop](https://user-images.githubusercontent.com/16375940/188721215-943dff96-fd61-48ad-a2c0-fa059db72152.gif)
f)

[2022-09-09 06:41] bl00dy1837 opened #307 "build error with 2.0 on archlinux"
when I try to build version 2.0 on archlinux. Don't know if it is a problem of QSimpleUpdater or of the notes function. Version 1.5 does build without problems.

../../QSimpleUpdater/src/Downloader.cpp: In member function ‘void Downloader::metaDataChanged()’:
../../QSimpleUpdater/src/Downloader.cpp:344:32: error: variable ‘QRegularExpression regExp’ has initializer but incomplete type
  344 |

[2022-09-09 13:30] darthdubu opened #308 "make uninstall after compiling attempts to remove /usr/bin"
Not sure if this is intended behavior but god forbid this actually went through and deleted /usr/bin it would be really really bad.

![image](https://user-images.githubusercontent.com/63337938/189361428-7b6b8756-ccdd-4329-a062-fec441a4c389.png)

[2022-09-09 13:56] nuttyartist commented on #307
Hmm, I'm not sure why. Maybe someone else can shed some light on this?

[2022-09-09 14:29] mamantoha commented on #307
No error on Manjaro so far.
![image](https://user-images.githubusercontent.com/61285/189373596-a547f1c1-c27b-4c69-9e45-19c54a37d5bf.png)

[2022-09-09 14:59] Vistaus commented on #10
I support this. If a translation system gets implemented, then I'll provide the Dutch translation. :-)

[2022-09-09 15:19] darthdubu commented on #308
Yeah i figured that probably isn't supposed to happen. I'm using Void Linux.

[2022-09-09 21:18] cacoch commented on #298
Me neither. But could be possible edit notes in external editor like vim. btw, notes looks great. excellent  job.

[2022-09-10 02:47] johnblommers opened #309 "Consider changing the Aa button to a gear icon to better reflect settings of the editor"
Notes advertises dark, light and sepia themes.

However there is no menu item or keyboard shortcut in evidence to change the theme.

I downloaded the AppImage for Linux, running on PopOS 22.04.

It's unclear what version of Notes I have because the About Notes menu does not say.

[2022-09-10 03:34] johnblommers commented on #309
Did some research and found the answer to my own issue.

`~/.config/Awesomeness/Settings.ini`  contains a line we can edit to read:

`theme=Sepia`  or `Light` or `Dark`.

and the same file holds the version number which is 2.0.0.

[2022-09-10 03:42] johnblommers commented on #309
Also if you are editing text you'll notes **`Aa`** at the top left of it. Click that for the Editor settings. I've gotten used to &#x2699;  icons for settings and missed this.

[2022-09-10 09:40] nuttyartist commented on #309
Hi, yes, as you found out, you can change the theme via the Editor settings. Here:

![Screen Shot 2022-09-10 at 1 39 49 PM](https://user-images.githubusercontent.com/16375940/189477842-5e590c0a-8118-4bd9-9b59-eafac90c1607.png)

May I close this issue?

[2022-09-10 09:45] nuttyartist commented on #298
Thanks, I'm closing this as it seems the content of this issue is covered in two separate issues already.

[2022-09-10 09:45] #298 closed

[2022-09-10 11:50] nuttyartist opened #310 "Automatic updater doesn't seem to work on Windows"
The automatic updater doesn't seem to work on Windows.

[2022-09-10 11:51] nuttyartist opened #311 "App crashing after moving tag item to the last position"
The app crashes when moving a tag item to the last position in the tags list.

[2022-09-10 11:53] nuttyartist opened #312 "All searches should be global under All Notes"
Taking inspiration from other apps, it makes more sense that all searches will automatically be searched globally - from All Notes.

[2022-09-10 11:54] nuttyartist opened #313 "What's new box should not be shown if the latest version is installed"
What's new box should not be shown if the latest version is installed.

[2022-09-10 11:59] nuttyartist opened #314 "Some areas do not show the right color when the Dark theme is on"
Some areas do not show the right color when the Dark theme is on:

![Screen Shot 2022-09-10 at 3 56 20 PM](https://user-images.githubusercontent.com/16375940/189482304-1389cfad-f8b0-4650-aeb2-6f5e0706d893.png)

[2022-09-10 12:05] nuttyartist opened #315 "On clicking on notesList when focusing on a new empty note, we should delete the note"
Same way when clicking on a different note while focusing on a new empty note, remove the empty note. We should the same when the user clicks on the notesList.

[2022-09-10 18:09] johnblommers commented on #309
Do consider using a gear icon for Settings but this issue is closed.

[2022-09-11 09:08] KhaaL opened #316 "Import/Export .md and .txt files to/from the database"
As a enduser, in order to migrate to Notes I'd need to migrate my already made text-files. The only alternative is to copy-paste them, which would be very time consuming.

[2022-09-11 11:25] nuttyartist opened #317 "Revamp editor"
A big feature that will require long-term investment is a revamp editor.

- [ ] Custom to-do list. With the ability to collapse todos. When collapsed, show an overview of progress
- [ ] Images support
- [ ] Hide Markdown automatically a la [Panda](https://bear.app/alpha)
- [ ] OneNote style editor where you can type anywhere, and all components are contained in a resizable, moveable box.
- [ ] Dyn

[2022-09-11 11:27] nuttyartist opened #318 "Traditional folder view"
An optional traditional folder view similiar to the old OneNote's style - notebooks (the highest in the hierarchy) to the left, folders shown as tabs, and notes inside folders to the editor's right. I believe this approach is more natural for our minds to grasp. It is important that transitioning from the old view to this one will not require the user any input; thus, we need to consider how to co

[2022-09-11 11:37] nuttyartist opened #319 "Snapshot/history a la Simplenote"
Snapshot/history a la Simplenote - where you can drag an input slider and see how your note changed over time.

## Technical discussion

What does this feature require?

[2022-09-11 11:39] nuttyartist opened #320 "Incorporate language tool like Grammarly into Notes"
Incorporate language tool like Grammarly into Notes: [This one](https://github.com/languagetool-org/languagetool) is open source but not fully featured as Grammarly or its premium version. Need to consider if this needs to be part of the revamp of the editor (for highlighting words/sentences, hovering/clicking on them.

[2022-09-11 11:41] nuttyartist opened #321 "Style Check a la iAWriter"
Style Check a la iAWriter, striking through redundancies, clichés and filler words. Also Highlight parts of speech to spot superfluous adjectives, weak verbs, and unwanted repetitions.

[2022-09-11 11:43] nuttyartist opened #322 "Support swipe gesture"
Support swipe gesture:
   - [ ] open/close notes list
   - [ ] Pin/Delete a note

## Technical discussion

Does Qt support swipe gestures?

[2022-09-11 11:46] nuttyartist opened #323 "Optimize performance"
- [ ] Memory consumption.  (why 50mb for an empty app?)
- [ ] There's some slowdown when the number of notes gets to around 5000. We need to investigate this. Notes should be fast on a modern computer with 10,000 notes or even more.

[2022-09-11 11:54] nuttyartist opened #324 "Cards View"
Cards-view editor a la Scrivner or Google Keep where you can select a folder and change its view so rather than seeing the notes-list and editor you get a card view of all the notes in that folder.

[2022-09-11 12:10] nuttyartist opened #325 "Collapsable sections for long notes to get an outline-like overview"
Collapsable sections for long notes to get an outline-like overview. Collapse sections under headers. With a button to toggle the outline of a note.

[2022-09-11 12:13] nuttyartist opened #326 "Second editor (side-by-side, not on a different tab)"
Second editor (side-by-side, not on a different tab) like Ulysses's split view.

![image](https://user-images.githubusercontent.com/16375940/189526870-4a538df8-7b51-4be8-9fc4-ea8a3cc360da.png)

[2022-09-11 15:13] jmishra01 opened #327 "Add table"
Add table creation functionality using markdown.
|framework|language|
|--|--|
|Qt|C++|
|Django|Python|

[2022-09-11 15:15] jmishra01 opened #328 "Add Date"
Add date using the symbol `//` while writing notes. This functionality is similar to Jira.

[2022-09-13 08:18] nuttyartist commented on #316
I agree that's a good suggestion. Thanks!

[2022-09-13 08:21] nuttyartist commented on #327
Well, on https://github.com/pbek/qmarkdowntextedit it says it supports tables, but I guess you're looking for support of rich text style tables and not just the markdown/plain-text look. If so, that should be part of our revamp editor #317 which will transform markdown to rich text automatically.

[2022-09-13 13:15] KhaaL commented on #316
Let me know if you'd like to have a more fleshed out user-story, I wrote the issue quickly just to get it off my head 😃

[2022-09-13 13:29] nuttyartist commented on #316
I think it's a pretty understandable request. If you think there's something you should point out, please do.

[2022-09-13 16:56] jayu9493 opened #329 "Scaling issue in windows"
OS:Windows 11
Version: 2.0.0
To recreate this issue: Normal installation no other settings have changed
![Screenshot (2)](https://user-images.githubusercontent.com/87773845/189959989-2876145d-ec03-4c74-bc79-d68727c396fd.png)
As seen in the picture there is two major problems.
1) The scaling issue after reading the issues on github i can solve this problem in linux but in windows i don't know neith

[2022-09-14 02:47] jmishra01 commented on #328
PFA

https://user-images.githubusercontent.com/11253854/190047104-a62ac228-44c1-45e3-aa06-fa5880edd70f.mp4

[2022-09-14 10:06] nuttyartist commented on #328
Great, thanks!

[2022-09-14 10:10] nuttyartist commented on #329
Yes, this is a known issue #39 and #164. @diepdtnse03145 reported that

We still need to figure it out. I will close that issue as we already tracking this somewhere else.

[2022-09-14 10:10] #329 closed

[2022-09-14 23:22] p2004a opened #331 "Scaling of elements is not correct on HiDpi screen"
I've installed application on Windows 11 try it out, but it looks like scaling of elements is quite off in comparison to how it's supposed to look like according to screenshots when using HiDpi screen (scale 200%):

![notes_screen](https://user-images.githubusercontent.com/2212599/190279681-bb84725f-6cf3-4fbb-8e75-633bd07653b8.png)

The size of the icons is too small, too small spacing between ele

[2022-09-15 07:04] jmishra01 opened #332 "LaTex Support"
Add support of LaTex, to write mathematical/chemical or other forms of equation in the application.

[2022-09-15 07:47] nuttyartist commented on #331
Yes, this is a known issue #39 and #164. @diepdtnse03145 reported that

We still need to figure it out. I will close that issue as we are already tracking this somewhere else.

[2022-09-15 07:47] #331 closed

[2022-09-16 07:45] bjorn commented on #322
Yes, see https://doc.qt.io/qt-5/gestures-overview.html.

[2022-09-16 08:32] nuttyartist commented on #322
Great.

[2022-09-16 10:01] nuttyartist opened #334 "Objective performance test against other note-taking apps"
I want to test our app's performance against other note-taking apps so we can have a yardstick for improvement. We need an objective way (that means, nonsubjective -  not dependent on how one perceives something, but rather using some automatic test) of measuring:

- [ ] Memory usage (zero notes, many notes, many notes, folders, and tags)
- [ ] Startup time
- [ ] Search performance
- [ ] Scrolling

[2022-09-16 10:16] nuttyartist opened #335 "QMarkdownTextEdit changes font, and font size during Bold and Italic operations"
A user reported that our Markdown editor (QMarkdownTextEdit) changes font, and font size during Bold and Italic operations.

@pbek Is it due to a recent change?

![image](https://user-images.githubusercontent.com/16375940/190616485-30888d8a-929a-46cb-8cd7-c1458b61effe.png)

![Screen Shot 2022-09-16 at 2 15 52 PM](https://user-images.githubusercontent.com/16375940/190616915-5d2189e8-3891-468f-8479-

[2022-09-16 10:23] nuttyartist opened #336 "Allow users the option to work with an arbitrary folder rather than a database"
A highly requested feature that will require a lot of refactoring is to let users point at a folder with .txt files rather than using a database. This will probably not allow supporting many sophisticated features in the future such as drawing or a more complex editor like OneNote's. This is why I first want to discuss it before giving it any priority. Maybe I'm wrong on the technical front, and t

[2022-09-16 10:40] pbek commented on #335
Hm, not that I know of... Can you trace that back to a specific commit of [QMarkdownTextEdit](https://github.com/pbek/qmarkdowntextedit)?

[2022-09-16 10:51] bjorn commented on #336
I think [Zim](https://zim-wiki.org/) is a good example of a notes app that uses plain text files. I don't personally see why it should not allow the use of a more complex editor (Zim's editor is also a rich-text editor).

Zim does not have tags, but it does store some meta-info at the start of each file, which could include tags.

[2022-09-16 14:09] Deckweiss commented on #336
[Obsidian](https://obsidian.md/)

Is another example, that works on plain directories and plain md files, while providing extensive editing features (including a whole engine for custom plugins, which can do all sorts of editing/rendering magic).

[2022-09-16 15:42] douglasta2024 commented on #328
I would like to work on this bug, but I am new to open source contributions. How do I get the source code to work on this?

[2022-09-16 16:04] AdrianTM commented on #336
Can one save the database in a random place? Like an OneDrive or Dropbox backed up folder? That would be more useful than doing .txt files (but I know of other programs that recommend against saving databases in OneDrive because they might get corrupted so this would need to be tested).

[2022-09-16 17:51] ph4ni opened #337 "[not an issue] Interview request"
Hi! Got to know about this project on r/linux, and I find it really cool! Would you be interested in talking about notes on our weekly newsletter? Console by Open Source Hub is a newsletter read by thousands of open source enthusiasts and engineers every week. The process is totally asynchronous, and I make it as painless as possible. If you are interested, just send a hi to sai @ codesee.io :)

[2022-09-16 19:59] Frityet opened #338 "setTheme method causes a segfault (MacOS)"
I was trying to add automatic theme detection (based off your system theme) and discovered that calling the setTheme method causes a segmentation fault. I am using MacOS Monterey, and am using the latest version (dev)

[2022-09-16 20:02] Frityet commented on #338
Upon further inspection
[code]
Null pointer dereference? I can't generate debug symbols so I can't isolate it easily.

[2022-09-16 20:18] Vexs opened #339 "Extreme input delay in text editing view"
See attached content- strumming my keyboard as in the first row of the video, as well as holding down the X key exhibits some pretty ludicrous input delay. This seems better in the search field and similar, but still a bit slow.
Hardware/OS:
* Windows 10
* AMD 2700x
* 32gb RAM
* Nvidia 2080ti GPU

https://user-images.githubusercontent.com/7316404/190725587-6d540e65-f1b6-4771-a127-2eee11e492f3.mp4

[2022-09-16 20:22] WhyNotHugo commented on #336
This application seems to be **exactly** what I've been looking for for many years, but saving into a binary DB file really does carry too many drawbacks.

It's not possible to use simple tools like `ag` or `fd` to look through notes as one would through text files. Actually, no other existing tool can easily access notes at all. I already have lots of text files, and can't even read them via `not

[2022-09-17 05:02] kana800 commented on #335
Hey there !
I got same issue with the new version of the [Notes app](https://github.com/nuttyartist/notes/releases/tag/v2.0.0). Let me know if you need any help with figuring it out.

Cheers!

[2022-09-17 07:01] REALERvolker1 commented on #334
I use the Joplin flatpak for my notes, but I just found out about your notes app and I think I will enjoy it.

Joplin also has a cli version up on npm

I also use vim sometimes, like if the professor is talking and I don't have Joplin up yet, or if I need to take a quick note to put in a planner later

I think Google has a google drive notes thing, I don't remember

[2022-09-17 07:31] yaggit opened #342 "Automatic updates doesn't work on Windows - can't download latest version information"
![image](https://user-images.githubusercontent.com/72143254/190845879-e0b64678-1a67-4788-9e80-3d70734895de.png)

[2022-09-17 10:50] nuttyartist commented on #339
This is very weird. I tried it on Windows, Linux, and macOS and never experienced that. Needs more investigation. Can you compile just a simple QTextEdit to see if the problem persists?

[2022-09-17 11:00] zjeffer opened #346 "QMessageBoxes cause the application to segfault"
I'm using bspwm on Arch Linux. Whenever any QMessageBox is created, it will segfault. The first time it crashed, was in the [Updater::setUpdateAvailable](https://github.com/alex-spataru/QSimpleUpdater/blob/62567eee6631b64e09f365b7518b8744773d9b95/src/Updater.cpp#L428) method frmo the QSimpleUpdater repo. I altered the code so it wouldn't create a messagebox, and then it crashed [here](https://gith

[2022-09-17 12:09] nuttyartist commented on #346
Thanks for letting us know! Do you think you know why the Appimage didn't produce the segfault but from the aur it did? BTW, I'm not maintaining the package from the aur.

Regarding the macOS buttons, you can always go to View-> show native window to have a native window decoration. Let me know if it works for you.

[2022-09-17 12:10] nuttyartist commented on #307
@bl00dy1837 Is it still a problem? it seems to be working for other people on AUR: https://aur.archlinux.org/packages/notes

[2022-09-17 12:12] nuttyartist commented on #337
I will, thanks (:

[2022-09-17 12:12] #337 closed

[2022-09-17 12:17] zjeffer commented on #346
Not yet, I will investigate.

That works, thanks. But shouldn't native window decoration be the default for every desktop environment and window manager? What's the reason for this choice?

[2022-09-17 12:17] DesiOtaku opened #347 "UpdaterWindow doesn't have proper Window decorations on Linux"
On KDE, the regular window shows a proper border + shadow so it works fine on a white background. However, UpdaterWindow ignores the KDE Qt style and blends in to the white background.

Also the "Close" and "Update" button isn't consistent with the rest of the Qt style (it looks more like Android rather than KDE).

[2022-09-17 12:18] DesiOtaku commented on #347
![image](https://user-images.githubusercontent.com/410561/190856341-a4756193-f112-4770-af17-ac7a325690c7.png)

[2022-09-17 12:20] nuttyartist commented on #342
Are you running on Windows? If so, It's a known bug that Notes cannot download information from our Github repo regarding the latest version. It's very unfortunate since it means many of our existing Windows users (800K) will not get automatic updates.

[2022-09-17 12:25] nuttyartist commented on #347
Thanks for reporting, we'll look into that.

[2022-09-17 12:26] nuttyartist commented on #334
Thanks, I added Joplin.

[2022-09-17 14:22] nuttyartist commented on #336
Thanks, everyone for the feedback! I'm including this part of our roadmap! It will require us to rethink some things, and I also think that the developer that will be responsible for #317 will need to figure out exactly how to do it. I would also like to see how it will affect performance.

@WhyNotHugo We'll work on importing/expoting notes from/to .txt, see: https://github.com/nuttyartist/notes/i

[2022-09-17 14:37] nuttyartist commented on #346
The reason is that our custom decoration will often look better than the native window decoration (mainly among different Linux distros), and aesthetics is something that is very important to me. But I know it's not perfect. This is why the native window option. I also aspire to have custom os-specific code in each operating system to have a native experience (somewhat successfully in macOS). Hope

[2022-09-17 16:18] Codi33 opened #348 "Feature Suggestion"
I thought that encryption of your notes would be great. Do you mind to add this? Thanks!

[2022-09-17 17:10] Hikk0o opened #349 "Problem with window frame (Windows 11)"
A custom frame is not always replaced with a native one

https://user-images.githubusercontent.com/78872275/190868495-554c7908-9149-4dd9-a663-8b9e83df2b76.mp4

[2022-09-17 18:41] masihsaeedi commented on #339
Same problem on endeavourOS kde. I have tested both aur and appimage.

[2022-09-17 19:53] GelosSnake opened #352 "Looks like chrome advanced proitection is triggering on the latest version dmg"
<img width="749" alt="image" src="https://user-images.githubusercontent.com/5004714/190874237-789babe8-51b1-49da-9538-9c46bc724bc6.png">

Background on the chrome feature: https://9to5google.com/2019/08/06/advanced-protection-program-chrome/
Sha256 + file scan on VT: https://www.virustotal.com/gui/file/e4fe567cfd3f6b8a1f61177dc68c040a7a42cb1733f2c0eab292ac7a8defedca?nocache=1

Maybe worth checking

[2022-09-17 20:33] guihkx commented on #349
Already fixed by https://github.com/nuttyartist/notes/pull/344.

[2022-09-17 20:35] udoprog opened #353 "Make URLs clickable"
Application version: 2.0.0
OS: Windows 10

Clicking a URL like this on Windows 10 does not open the link in your system browser (not sure if it does on others either):

![image](https://user-images.githubusercontent.com/111092/190875549-ab8e49c8-aac1-403a-8c13-ae2e104cd7c0.png)

Right clicking should probably also give the option to copy the URL by common UX convention.

Cheers!

[2022-09-17 20:37] udoprog commented on #201
I was gonna raise an issue about hoe `[links like this](https://example.com)` are not rendered as `links like this`, but I'm guessing that would fall under this?

[2022-09-17 20:47] udoprog opened #354 "Improve multi-tagging UX"
Currently when tagging a note the context menu which is used to tag items is a bit noisy (says `Remove tag <tag>` / `Add tag <tag>`) and gets collapsed as you add or remove individual tags leaving you to have to "chase" the menu again for each tag added or removed.

![image](https://user-images.githubusercontent.com/111092/190875771-f7468034-ad7a-429d-ae00-de6a7d5f1418.png)

An improvement to me w

[2022-09-18 04:28] REALERvolker1 commented on #349
I had that happen on Linux as well

[2022-09-18 06:34] kemier opened #356 "Converting codebase to Qt 6"
macOS m1 version:12.6

compile error in 3rd party code:
[code]

so is it ready for the compiling of new version qt?

[2022-09-18 07:02] nuttyartist commented on #356
Hi! No, the code is not fully compatible with Qt 6 yet. I wonder if it's worth converting our codebase to Qt 6?

[2022-09-18 07:43] nuttyartist commented on #354
This is very important, I had this on my mind but forgot to create an issue for that. Thanks!

What would this look like? Something like this?

![Screen Shot 2022-09-18 at 11 42 38 AM](https://user-images.githubusercontent.com/16375940/190891312-c3ecce28-edcc-4321-89ed-f4e05ac16543.png)

[2022-09-18 07:44] nuttyartist commented on #353
Hi! This is an issue in all operating systems for now. Thanks for reporting!

[2022-09-18 07:49] nuttyartist commented on #349
Hi, @Hikk0o! Thanks for reporting. @guihkx fixed these issues on his PR #344. I haven't yet merged this into the master, but if you want you can grab the Windows installer with that fix here: [64bit](https://ci.appveyor.com/project/nuttyartist/notes/builds/44806570/job/kgiml37qsnovygh6/artifacts), [32bit](https://ci.appveyor.com/project/nuttyartist/notes/builds/44806570/job/r1wofle56f2twh81/artifa

[2022-09-18 07:49] #349 closed

[2022-09-18 07:51] nuttyartist commented on #348
Hi, someone already suggested that here #301 and it's part of our roadmap, so I'm closing this.

[2022-09-18 07:51] #348 closed

[2022-09-18 07:55] nuttyartist commented on #352
Hmm, I'm not sure. Maybe it's because I only codesigned the app but didn't notarize it yet?

[2022-09-18 08:14] yaggit commented on #342
Yes, running on windows.

Right, that's a bug. I believe I can give it a try to resolve this issue. Would you please help me to understand the scope of this issue and how to work on this.

This can be my first open source contribution.

[2022-09-18 11:56] bl00dy1837 commented on #307
With the git package it's working now. With the tar.gz release I have the same problem. But works for me now. thanks

[2022-09-18 11:56] #307 closed

[2022-09-18 12:14] romanblanco opened #357 "UX improvement after adding folder"
Hi, I'd like to suggest to focus the field for renaming folder right after the folder is created.

Currently, the flow of adding a folder with desired name is:
- Click "+" button to add folder (named "New folder")
- Click "..." button
- Click "Rename Folder"

Setting focus on renaming folder right after creating it would save user from those 3 clicks.

[2022-09-18 13:05] udoprog commented on #354
Yeah, that looks great, esp. with the grouping. I'd also consider dropping the extra wording (and use only the tag name) in favour of a hint when hovering.

Thanks!

[2022-09-18 16:18] zjeffer commented on #346
I wanted to build Qt 5.15.6 from source, to be able to see inside Qt's source code when debugging in Qt Creator, but the issue doesn't happen when I point my Qt installation to the one built from source :(

The Qt version is the exact same as the one that was already installed on my system. I did a reinstall of Qt5 through my package manager, but nothing helped. Very strange.

[2022-09-18 16:57] nuttyartist commented on #342
Well, you'll need to make the updater work, basically, I'm not entirely sure about it, but I think the problem lay in that our app on Windows doesn't recognize/can't download the UPDATES.json file https://github.com/nuttyartist/notes/blob/dev/UPDATES.json.

Somebody already working on this issue. Maybe try to find another issue to solve? Thanks nonetheless!

[2022-09-18 18:31] zjeffer commented on #346
Running `notes` as sudo doesn't trigger the crash. Any ideas why it wouldn't?

[2022-09-18 19:38] Vexs commented on #339
Regretfully I'm not familiar with using QT enough to do so with much proficiency- but I spun it up with PyQT using [some example code](https://pythonpyqt.com/pyqt-qtextedit/) and it seemed to work without any hitches. Anecdotally I've used a handful of other QT apps in the past and this is the first I've experienced this.

[2022-09-18 22:03] AyushExel commented on #21
Hey, just noticed this project. I want to use this as a base and add some NLP capabilities. I intend to publish everything on GitHub, nothing commercial. Can I do that under the current license? I got confused by this:

[2022-09-18 23:21] yaggit commented on #342
okay, no problem.

[2022-09-19 01:02] mercifulboss opened #358 "Feature Request: Write with stylus anywhere on canvas and OneNote compatibility"
Hello,

Love your app. Would it be possible for this app to sync with OneNote as well as using a stylus to write anywhere (also like in OneNote) so that those of us with touchscreen tablets can use it to make notes?

Thank you

[2022-09-19 12:11] nuttyartist opened #359 "Some edge cases during Markdown formatting using keyboard shortcuts"
@AdrianTM added keyboard shortcuts for Markdown formatting in #335. Although some edge cases remain unsolved.

1. If the cursor is between two words, but on an empty space, it would operate the word before it where it should just add the operation.
![image](https://user-images.githubusercontent.com/16375940/191013649-c831e107-74b0-4a43-a22e-87130f14bb02.png)

2. The `revert` operation on a when th

[2022-09-19 12:35] nuttyartist commented on #357
Very good suggestion! I'm embarrassed by overlooking it! I'm adding this to the roadmap for the next version.

Although so that you know, you can also rename a folder by double clicking on it which is easier than clicking the "..." button and then "Rename Folder."

[2022-09-19 12:49] nuttyartist commented on #346
Very weird indeed. I have no idea yet.

[2022-09-19 12:54] nuttyartist commented on #358
Hi! Supporting a stylus would be a great feature. I will add this to be part of our revamp editor #317 issue and close this one. Can you explain more about what you mean about syncing with OneNote? Is there currently any other application that does this?

[2022-09-19 13:32] PalmTamino opened #360 "[Feature Request] (fractional) scaling"
Hey, since fractional scaling on linux is basically a horrible experience for example: Steam, Discord, Lutris emulated games, KeepassXC and many other apps get low resolution when fractional scaling is enabled. And not even starting to talk about x11, it's not even possible there...

Well, so yeah, i set font size a bit bigger and big text on so it's not completely small (200% normal scaling would

[2022-09-19 14:42] mercifulboss commented on #358
Hello,

Thank you for adding stylus support! Linux is sorely missing such programs with the ability to write with a stylus.

Regarding syncing with OneNote - it is able to sync your notes (stylus and typing and pictures) across multiple devices. At this moment I am only aware of one app on linux that does this but it is an electron app and doesn't work very well (https://github.com/anujdatar/oneno

[2022-09-19 17:29] stman opened #363 "Build for Fedora 35 - Missing compile/build packages dependencies in the README.md"
Hello,

For faster Fedora 35 build & compile & install, **could you add into the README.md all the build/compile packages dependencies for freshly installed Fedora 35 Linux** (And the whole build/compile sequence if different from Debian/Ubuntu, it shall not, but who knows, it is worth checking from you) as they don't match with those provided for Debian/Ubuntu.

This will save a lot of time for t

[2022-09-19 19:58] romanblanco commented on #357
Ha, I didn't even think of trying this, that definitely is better!

Maybe, if it is possible, some visual effect (underlining the text on hover or such) could help to hint such option to user :slightly_smiling_face:

[2022-09-19 20:08] gonzaarcr commented on #360
I overwrite the environment variables to achive that

[code]

[2022-09-20 11:13] nuttyartist commented on #363
Hi! I'm not quite proficient in this. Maybe someone else can chime in on that?

Our appimage here https://github.com/nuttyartist/notes/releases/tag/v2.0.0 is self-contained so all you need to do is download it, give it permission to run, and execute it. See: https://docs.appimage.org/introduction/quickstart.html

[2022-09-20 11:20] nuttyartist commented on #358
This feature is not a very high priority since it's very specific to OneNote. We want to support the ability to use an arbitrary folder rather than a database, so if your OneNote supports exporting to .txts then you'd be able to import these notes but not sync them automatically. Maybe if someone decides to fork the repo and create this feature, we might merge it if it's done in a modular way.

[2022-09-20 11:33] nuttyartist commented on #360
@PalmTamino Will implementing support for HighDPI screens #39 solve your problem?

[2022-09-20 12:04] stman commented on #363
Thank you for your quit reply.

AppImage will do the trick temporarily for me, but to be honnest, for cyber-security reasons, AppImage is not very much appreciated in the sysadmin community, and it would be much safer to be able to self compile your great project until it is officially integrated into many Linux distributions repos.

Unfortunately, I would have loved to solve these Fedora packages

[2022-09-20 18:34] GelosSnake commented on #352
Might be.
Can also work with them directly via: https://developers.virustotal.com/reference/monitor
You can submit the binaries in each release in advance

[2022-09-20 19:28] bjorn commented on #356
Well, it basically has to be done because Qt 5.15 is no longer maintained for open source users (or at least no binaries are released beyond 5.15.2) and even [standard support will end in a few months](https://www.qt.io/blog/the-conversion-program-is-ending).

[2022-09-21 03:36] txtsd commented on #356
It's worth making the codebase compatible with Qt6 now instead of later. Migrating from `qmake` to `cmake` is also recommended at the same time.

[2022-09-21 08:27] nuttyartist commented on #352
But will uploading the binary to VirusTotal stop Chrome's Adavace Protection from being triggered?

[2022-09-21 08:47] nuttyartist commented on #316
@batsatt You're right. We will ship this on our next (minor) release. See: https://github.com/nuttyartist/notes/projects/8#card-85711502

[2022-09-21 08:49] nuttyartist commented on #356
Sounds like a good idea to me.

[2022-09-22 09:11] bjorn opened #369 "Toggling the folders tree makes notes list visible"
I noticed that toggling the folders tree through the menu (either on or off) also makes the notes list visible. This action should not affect the visibility of the notes list in my opinion.

[2022-09-22 10:21] nuttyartist commented on #369
In what scenario would you want to see only the folder tree and the editor?

[2022-09-22 10:26] GelosSnake commented on #352
It might be since they will whitelist the hash. However since they don't really reveal why it was triggered maybe contacting them directly will be more fruitful.

[2022-09-22 11:24] nuttyartist opened #370 "Support speech-to-text / dictation"
Now that OpenAI open-sourced their STT models, we can incorporate them into Notes.

Some things to note:

1. The smallest model is 70MB, so we'll need to ask the user if he wants to download it.
2. I'm not sure it supports real-time speech-to-text right now, so some work would need to be done there.
3. It's written in Python and somehow will need to communicate with our C++ code.

[2022-09-22 19:52] zjeffer commented on #346
If anyone is interested, here's how I managed to find this: I ran `lsof -p $(pidof notes)` once when running notes normally, and once with the Qt I built from source (the one that doesn't crash). I compared the two outputs and found the one that crashed contained `/usr/lib/qt/plugins/platformthemes/libqt5ct.so`, while the one that worked didn't.

[2022-09-22 20:12] zjeffer commented on #346
Setting that env variable to `qt6ct` also fixes the problem.

This is my `~/.config/qt5ct/qt5ct.conf`:

[code]

Setting `style=` to `Fusion` (the default) also fixes the issue (but makes Qt apps uglier). Something strange is happening when it is set to `kvantum`...

[2022-09-23 08:21] nuttyartist commented on #369
Oh, you're right! Thanks for reporting.

[2022-09-23 08:41] nuttyartist commented on #346
So is it happening only on a specific distro? Do you have a suggestion on how we can solve this when shipping our app?

[2022-09-23 20:11] zjeffer commented on #346
I believe this will happen on any distro when `QT_QPA_PLATFORMTHEME` is set to `qt5ct`, when the theme in `qt5ct.conf` is set to `kvantum`.

As for how we can solve this, I'm still investigating why this happens in the first place. I haven't gotten this issue in any other app, so there must be something unique about your app that's causing this.

[2022-09-24 11:54] nuttyartist commented on #346
Hmm, ok, I hope you'll find out what causes this.

[2022-09-25 06:37] Alexander-Wilms commented on #317
Maybe the editor code could be modeled after the OneNote file specification:

https://learn.microsoft.com/en-us/openspecs/office_file_formats/ms-one/73d22548-a613-4350-8c23-07d15576be50

[2022-09-26 06:49] HCY-ASLEEP commented on #180
The problem still exists, can anyone solve it?

[2022-09-26 09:54] nuttyartist commented on #317
I'm not sure if it's a good idea to be dependent on a specification of a non-open-source project.

[2022-09-28 11:56] badrow commented on #316
Very important feature,I need it too ! I have 1700+ notes in txt format, in 10 folders, and I don't know how to import them in this app.
Thank you for your job, very interesting project !

[2022-09-30 14:27] s00ner opened #380 "Support for spell checking"
This application is fantastic but I'd love if there was some kind of support for spell checking my notes.

[2022-09-30 19:21] zjeffer commented on #346
The issue is fixed when removing this line: https://github.com/nuttyartist/notes/blob/dev/src/main.cpp#L14.

What does that function do?

[2022-09-30 20:41] bjorn commented on #346
That's an interesting find. There's still another thing actually causing the bug, because this setting, whether `true` or `false` should not be causing the application to crash.

The line was added in c5d0e95a7972b1de2be66e1f6674d96a334df188, and its description implies it's only for the style, but these days the style is already sneakily set by the `TreeViewLogic`:

https://github.com/nuttyartist

[2022-09-30 20:51] zjeffer commented on #346
I agree. I believe the issue is that this app's custom style does not include styling for DialogButtonBox (which is present in QMessageBox), which is why it segfaults when it tries to find a style. The app can override the system's theme when it includes styling for an element, but use the system's theme when it doesn't.

[2022-09-30 22:05] zjeffer commented on #356
I'm working on a QT6 port here: https://github.com/zjeffer/notes-qt6

I managed to fix some build errors just by looking at documentation and updating the code. There are many errors left to fix. I noticed the 3rdParty code also isn't QT6-compatible, should we fork and update those projects as well? Or look for replacements?

[2022-10-01 07:01] nuttyartist commented on #346
I agree. We can remove this. I will check how everything looks before merging.

Good find @zjeffer.

Someone sends a PR?

[2022-10-01 07:04] nuttyartist commented on #380
Hi, yes we have an issue tracking this here: https://github.com/nuttyartist/notes/issues/320.

So I'm closing this.

[2022-10-01 07:04] #380 closed

[2022-10-01 07:08] nuttyartist commented on #356
That's awesome. If you find some 3rd party libraries that fit the bill, suggest them here. But maybe forking is better since we already incorporated and battle-tested them in production?

[2022-10-01 09:32] zjeffer commented on #356
I will investigate which ones can be easily forked.

As for the main project, do we need to add a version check for every change, so that everything still works with QT5, or should we move completely to QT6?

[2022-10-01 11:47] nuttyartist commented on #200
uFuzzy seems to be a great open-source algorithm. https://github.com/leeoniya/uFuzzy

[2022-10-01 11:50] nuttyartist opened #383 "Fuzzy search"
uFuzzy (https://github.com/leeoniya/uFuzzy) seems to be a great open-source algorithm. It would be great to convert it to c++ and integrate it into our app.

[2022-10-01 13:40] nuttyartist opened #385 "Your opinion on new a TODO app's mockup"
Hello everyone, I want to use this space for your opinion on a new open-source and cross-platform task management app.

The point of the app is to be **Goals** oriented (first pane). The second pane is about **Planning** how to achieve those goals, and the third pane is **Today** view, where you decide which tasks from your Planning section you will work on each new day. You also have the option t

[2022-10-01 13:50] nuttyartist commented on #356
My opinion is to move completely to QT6. What about others? @bjorn?

Since with self-contained packages there is no problem, what about when distributing our packages as .deb for example, let's say Ubuntu systems with older versions of Qt, will the package manager know the right dependencies to install?

[2022-10-01 17:15] zjeffer opened #387 "Request: .clang-format file"
I noticed this repo doesn't have a .clang-format file. It would be great if this was added, doing so would ensure every contributor uploads code with the same formatting.

[2022-10-02 07:20] nuttyartist commented on #387
Good idea; I only learned about it now because you mentioned it.

[2022-10-04 12:18] nuttyartist opened #389 "QMarkdownTextEdit headers color should be the same color as text"
The headers' color should be the same as the text color.

![Screen Shot 2022-10-04 at 2 18 00 PM](https://user-images.githubusercontent.com/16375940/193817210-ac005f60-9265-470e-8df2-77b0ba1f2ff6.png)

[2022-10-04 18:56] zjeffer commented on #335
On my system, this issue doesn't happen with my qt6 fork (#386), but it does happen when launching the notes installed from the AUR (which obviously uses qt5)

[2022-10-05 19:21] zjeffer commented on #389
This fixes it: https://github.com/pbek/qmarkdowntextedit/compare/develop...zjeffer:qmarkdowntextedit:develop

I think you should maybe create your own fork of qmarkdowntextedit, as there will probably be changes you want to make in the future to this repo.

[2022-10-05 19:30] bjorn commented on #389
Might be better to avoid maintaining our own fork, if the original is well maintained and accepts any needed options. In this particular case, it actually already provides a `MarkdownHighlighter::setTextFormat`, which could be used to override the default header formats.

[2022-10-05 19:37] zjeffer commented on #389
Great! I'll look into this.

[2022-10-06 10:16] nuttyartist commented on #356
I didn't know that QT6 only works on these platforms. I would definitely still want to support the same platforms you support with Tiled. So maybe we can have two versions, for now, QT6 for recent platforms and QT5 for the older ones.

@bjorn The rest of the tips are sound.

[2022-10-09 04:21] edwyn-amador commented on #309
Yes, same thought on better using a gear icon, I was confused because I wasn't finding the "Settings" section in order to switch the theme

[2022-10-09 04:32] edwyn-amador opened #391 "Windows + N keyboard shortcut + Tray icon + Settings UI ... Improvements"
Hello, so this shortcut can't be used on Windows 11 at least, as this one seems to be reserved to the Calendar, whenever I press the combination it opens up the calendar and not able to quickly open the app nor even re-mapping this keyboard hotkey.

Now, regarding to the tray icon, please implement the functionality to open the app with double clicking the icon, it is not working (at least not in

[2022-10-10 08:52] MrGKanev opened #392 "UI improvements for scaling"
OS: Windows 11
Version: 2.0.0

When I was testing Notes to see if it was for me I had a few UI problems when writing notes.
* right click there is a white line going straight from top to bottom
* we only see half of the row of text from the note when multiple notes

Everything is connected with Windows scaling as far as I can see. When testing it was done on a 4k display and 125% scaling. When it

[2022-10-10 10:00] nuttyartist commented on #392
Yes, this problem is reported in #39 We will try our best to fix this for our next release. I will close this now as we are tracking this in #39.

[2022-10-10 10:00] #392 closed

[2022-10-10 10:01] nuttyartist commented on #309
I'll consider that. Thanks!

[2022-10-10 10:08] nuttyartist commented on #391
Hey! Thanks for your many good suggestions.

I re-opened an issue regarding changing the Aa icon to a gear icon.

I will definitely create an issue about double-clicking the tray icon.

Also, I will create a new issue that will allow changing the keyboard shortcuts.

Regarding cloud syncing, you can change the location of your database to where your Google Drive folder is. But it's not ideal as it

[2022-10-10 10:08] #391 closed

[2022-10-10 10:09] nuttyartist opened #393 "Double-clicking the tray icon (or 1 click on macOS) should show Notes"
Double-clicking the tray icon (or 1 click on macOS) should show Notes.

[2022-10-10 10:11] nuttyartist opened #394 "Allow users to change the keyboard shortcuts"
Allow users to change the keyboard shortcuts. It should open a window with all the available keyboard shortcuts and an option to custom-set them.

[2022-10-10 10:29] nuttyartist commented on #310
@diepdtnse03145 discovered the problem is that we are not shipping OpenSSL libraries with our binary.  @guihkx Do you think you can add the appropriate .dlls `libssl-1_1-x64.dll` and `libcrypto-1_1-x64.dll` for x64, and the proper ones for x86 to our packaging scheme? They should be under `QT\Tools\OpenSSL`

[2022-10-10 10:36] guihkx commented on #310
I'll take a look.

[2022-10-10 11:22] diepdtnse03145 commented on #338
Hello, can I get an example of your code? Currently I can not reproduce it with my code

[2022-10-10 14:32] #314 closed

[2022-10-10 14:45] #311 closed

[2022-10-10 14:50] #369 closed

[2022-10-10 14:53] #342 closed

[2022-10-10 19:40] edwyn-amador opened #400 "Dark Theme + Windows Taskbar Icon Click + Caret Cursor issues"
Me again😅

Just want to report some issues, regarding the dark theme:

![image](https://user-images.githubusercontent.com/36249854/194938838-ec0db693-bcda-4dd0-9eb3-f3fb0b02870f.png)

The minimize and maximize icons are not properly visible until onMouseHover.

Also regarding this section:

![image](https://user-images.githubusercontent.com/36249854/194941308-01dbc167-10bb-454b-a3d2-a121d19a97a3.p

[2022-10-11 13:10] nuttyartist commented on #400
We already opened an issue for that here #393, or do you mean something else?

Can you submit a video/GIF please?

To summarize:

- [ ] Minimize and maximize icons are not properly visible until onMouseHover
- [ ] notesList content is not visible when app is unfocused
- [ ] The cursor thing

[2022-10-11 19:24] zjeffer commented on #335
I found that the problem isn't that it changes the font size, but the problem is the bold and italic text are always at a fixed size. So resizing the text extremely small will result in something like this:

![image](https://user-images.githubusercontent.com/4633209/195180733-b3e8b047-e20c-4e89-ad32-fbfd1b194786.png)

And making the text bigger:

![image](https://user-images.githubusercontent.com/

[2022-10-11 19:49] edwyn-amador commented on #400
Yes, I am referring to the Windows Taskbar section, not the Windows Tray section, the Windows Tray is where the icon shows when the app is running in background, but the Taskbar section is where apps icons is shown when the app is running in foreground, as on the screenshot I show previously.

Please see: https://interactrapp.com/share/6345c7ba1b733

Yup, here it is: https://interactrapp.com/share

[2022-10-12 02:28] gremsyQuanLe opened #401 "Interface display error"
![image](https://user-images.githubusercontent.com/99642664/195235134-4370d595-650f-4e54-bf18-f9de75e70571.png)

[2022-10-12 06:02] Frityet commented on #338
Getting my macbook fixed, will respond once done

[2022-10-13 09:52] nuttyartist commented on #401
Hi, thanks for reporting. The issue was fixed in https://github.com/nuttyartist/notes/pull/344 and will be delivered on the next version.

[2022-10-13 10:08] nuttyartist commented on #335
@zjeffer Good catch. Is it something with QMarkdownTextEdit?

[2022-10-13 10:36] nuttyartist opened #402 "Clicking on the app's icon in Taskbar with custom window decoration doesn't raise the app. Works with native window"
- @edwyn-amador

https://interactrapp.com/share/6345c7ba1b733

[2022-10-13 10:39] nuttyartist commented on #400
Oh, very good catch! I opened a new issue for the Taskbar issue. https://github.com/nuttyartist/notes/issues/402

I couldn't reproduce the second issue on my Mac. I will test it on Windows very soon and report back.

Thanks a lot for catching these small but very annoying things! I bet many users experience the same, so it's very appreciated. What I find good about refining those many small issues

[2022-10-13 11:10] #310 closed

[2022-10-13 11:12] nuttyartist commented on #400
I wasn't able to reproduce the cursor issue on Windows:

![short](https://user-images.githubusercontent.com/16375940/195581777-e47dd04d-a426-4446-963c-cfc898da34d3.gif)

[2022-10-13 17:37] edwyn-amador commented on #400
I see, maybe try to wait for some time for the save to ocurr (when it shows the date in the top), that's when this issue happens as long as I have detected

[2022-10-16 14:10] zjeffer commented on #335
I haven't find the exact issue yet, but I noticed that even the headers don't seem to change size when resizing, but the font *does* change when changing to a different fontface. I will investigate further when I have more time.

[2022-10-18 15:48] guihkx opened #404 "[GitHub Actions] Build jobs using `ubuntu-18.04` might fail arbitrarily :("
I just noticed that the `ubuntu-18.04` build job from commit https://github.com/nuttyartist/notes/commit/f53d059225ea7a5843a68b5b90461a8ad7b20731 has failed.

That happened because, specifically today, we're in GitHub's ["brownout period"](https://github.com/actions/runner-images/issues/6002), which *purposely* prevents any build job using `ubuntu-18.04` from running (due to this version being dep

[2022-10-18 18:13] zjeffer commented on #335
I only tested on linux.

[2022-10-18 20:48] guihkx commented on #404
Another issue...

At the present moment, the tool we use to build the AppImage (`linuxdeployqt`) [restricts us](https://github.com/probonopd/linuxdeployqt/issues/340#issuecomment-452021747) from creating an AppImage on any Linux distribution newer than Ubuntu 18.04.

I'll figure out a way to run the build job within a docker container using the official `ubuntu:18.04` image.

[2022-10-20 08:20] mizhka opened #406 "[bug] hang on highlightSearch"
Hi,

On latest build () application hangs when I try to search. UI is frozen and not responsive.
I don't know actual reason of hang.

Backtrace:
[code]

[2022-10-20 09:58] nuttyartist commented on #335
I don't remember noticing this behavior on Linux, but I'll test.

[2022-10-20 10:09] #404 closed

[2022-10-20 12:31] nuttyartist commented on #406
I can't reproduce this on Mac. I downloaded the .dmg from here: https://github.com/nuttyartist/notes/actions/runs/3266420413

Does it keep happening?

[2022-10-22 18:21] zjeffer opened #408 "Migrate from qmake to CMake"
With the conversion to QT6 (#386), it is also a good idea to migrate from `qmake` to CMake, as that is the recommended way to build QT6 projects. It should also be compatible with QT5, all the way down to 5.9

- Migrate to CMake
- Update build workflows to reflect this change
- Update build instructions in README
- ...

More info: https://doc.qt.io/qt-6/qt6-buildsystem.html

[2022-10-22 22:14] guihkx commented on #408
Maybe helpful: https://code.qt.io/cgit/qt/qtbase.git/tree/util/cmake/pro2cmake.py

[2022-10-23 15:37] nuttyartist opened #409 "Loading many notes (4000+) is considerably slower than few notes even though we only render notes that are visible in the view"
Even though our app should technically handle rendering a million notes since it uses windowed rendering (it renders only the items shown in the scroll view and a few more before and after), it is struggling with a growing number of notes. It should have almost the same performance with million of notes and just a few. That means we are doing some unnecessary work on all the notes. We need to prof

[2022-10-26 03:35] danfe opened #410 "Replace Q_OS_LINUX in the code with Q_OS_UNIX"
This should be no-op on GNU/Linux while simplifying packaging for other Unix-like systems, *BSD, et al.  While explicit FreeBSD support had been added in eda71ec, IMHO it should be generalized.

[2022-10-26 06:02] danfe commented on #356
This is the right thing to do.  Most distributions had already caught up to Qt 5.12 and even with Qt6 available, Qt5 is still being default Qt version e.g. in FreeBSD.

[2022-10-27 10:42] nuttyartist opened #411 "macOS Packaging: auto sign, auto notarize, create Universal app for arm chips"
We need to add 3 more steps to our app packaging for macOS:

- [x] Automatic code sign
- [x] Automatic notarization
- [x] Creating Universal app for native support of arm chips (M1, etc...)

[2022-10-27 10:44] nuttyartist opened #412 "Windows Packaging: automatic code signing"
We need to add automatic code signing for our automatic Windows packaging.

[2022-10-27 10:55] nuttyartist opened #414 "CFramelessWindow should support Aero Snap on Windows but it doesn't work"
The CFramelessWindow lib we're using from here https://github.com/Bringer-of-Light/Qt-Nice-Frameless-Window should support Aero Snap, but for some reason, it doesn't work in our app.

Aero Snap work is when you can snap a window to the left, right, etc sides of the computer by moving the window to these spots.

[2022-10-27 11:04] nuttyartist opened #415 "macOS: on exiting full screen the app title bar is shown, bug related to CFramelessWindow"
When exiting full screen on macOS, the app title bar is shown. It disappears on restarting the app.
![Screen Shot 2022-10-27 at 1 03 53 PM](https://user-images.githubusercontent.com/16375940/198268094-25ced3f0-7c52-4152-aff6-02480ffa4adc.png)

[2022-10-27 11:09] nuttyartist commented on #406
@mizhka?

[2022-10-27 12:45] nuttyartist opened #416 "Scorllbars need to look better on Windows and Linux, especially on Dark Mode"
Currently, the scrollbars don't look good on Windows and Linux, especially during Dark Mode.

Pictures will be added later.

[2022-10-27 12:56] nuttyartist opened #417 "Increase vertical space of separators on multiple notes selection and change separator style"
Currently, the editor looks like this while selecting multiple notes
![Screen Shot 2022-10-27 at 2 54 28 PM](https://user-images.githubusercontent.com/16375940/198289920-9c3bc0da-911e-470e-9d74-2b8180f239a7.png)

It should look closer to this mockup:

![Screen Shot 2022-10-27 at 2 55 22 PM](https://user-images.githubusercontent.com/16375940/198290164-d1a7db61-f1b8-4827-9511-b94e30f471b5.png)

[2022-10-27 13:54] bjorn commented on #410
When doing this change, care should be taken that `Q_OS_UNIX` will also be defined on macOS, which may mean some code should be reordered such that `Q_OS_MACOS` is checked first where necessary.

[2022-10-27 19:22] danfe commented on #410
Fair enough.  Still, going with `Q_OS_UNIX` and occasional exceptions for macOS should yield more portable code.

[2022-10-28 05:39] mizhka commented on #406
Actually it's reproducible on particular note. I will try to dig into
defect next week or week after. Sorry for delay.

On Thu, Oct 27, 2022, 14:10 Ruby Mamistvalove ***@***.***>
wrote:

[2022-10-29 13:35] zjeffer commented on #387
There's a clang-format file based on the Qt Coding Style (https://wiki.qt.io/Qt_Coding_Style#clang-format), I'll make a PR to include this file after merging the QT6 migration.

[2022-10-29 13:40] zjeffer opened #418 "Discord invite link is dead"
The discord link in the readme (https://discord.gg/Yy4QBcV2) leads to an `Invite invalid` error page.

[2022-10-29 14:00] nuttyartist commented on #418
Fixed in #419, now the expiry date is set to Never. Thanks!

[2022-10-29 14:00] #418 closed

[2022-11-01 14:37] nuttyartist commented on #387
👍

[2022-11-07 10:01] #356 closed

[2022-11-07 10:04] nuttyartist commented on #338
@Frityet Hey, let me know if you can reproduce this segfault again, please.

[2022-11-14 15:30] #387 closed

[2022-11-15 09:08] Rouphen commented on #415
it's related to the function MainWindow::adjustUpperWidgets

the Bar-Height-Parameter is wrong.

[2022-11-15 11:17] nuttyartist commented on #415
Well, I just checked again on my Mac with Qt 6.4.0 and Qt 5.12.2, and the problem doesn't happen anymore on Qt 6 but still persists on Qt 5.

With Qt 5, even if I comment out `MainWindow::adjustUpperWidgets` the bug still persists. So I guess it's something related to Qt 5?

[2022-11-16 01:06] Rouphen commented on #415
my env: MacOs monterey, Qt5.9.9,  Xcode 12.4, due to there is no windows、linux, so I can not confirm it fully.
I guess the logical is  the space will be zero when non-full-screen.

it will be fine, if tried to change codes in MainWindow::adjustUpperWidgets
    const int top_space_fullscreen = 9;
    const int no_space_normalscreen = 0;
    ui->verticalSpacer_upSearchEdit->setMinimumSize(0, shouldP

[2022-11-16 13:14] nuttyartist commented on #415
But this code doesn't affect the bug, it doesn't affect the title bar, only the content of our app. Are you trying to report a different issue? If so, it will be helpful if you provide screenshots.

Nonetheless, your operating system is supported by Qt 6. Can you please try to download this version https://github.com/nuttyartist/notes/suites/9294787157/artifacts/436013441 and report if you still h

[2022-11-17 16:33] copperwiring commented on #285
@nuttyartist I just resolved the same issue because I had an older version. If I update the app will my previous notes be lost?

[2022-11-17 17:41] nuttyartist commented on #285
@copperwiring They should not! But just in case, make sure to backup your database, copy the notes.db/notes.ini stored in:

Windows : C:\Users\user\AppData\Roaming\Awesomeness
Linux       : /home/user/.config/Awesomeness/ or /home/snap/notes/x1/.config/Awesomeness (using snap)
Mac         : /home/user/.config/Awesomeness/

[2022-11-17 22:27] novagitzone opened #424 "Text cursor pops back to the top of the note when heading out of frame"
OS: Windows 11 home
Version: 2.0.0
To recreate this issue: Normal installation with all default settings. Happens in both windowed and full screen

Hello, apologies if the title sounds confusing. Here what I mean:

![NotesAppBug1](https://user-images.githubusercontent.com/111399446/202572037-9e10cae1-b07c-480b-8540-bd9eacfbf72a.gif)

As you can see, when I get to the bottom edge, instead of going

[2022-11-24 10:44] nuttyartist commented on #424
That's weird. I think someone already reported that issue, but I can't seem to find it. It seems like it happens only on Windows for now.

[2022-11-26 13:03] copperwiring commented on #285
Thanks, @nuttyartist !